<template>
  <div class="font-sans relative overflow-hidden">
    <Nuxt />
    <!-- <TheFooter keep-alive /> -->
  </div>
</template>

<script>
export default {
  name: 'Blank',
  layout: 'blank',
  // eslint-disable-next-line vue/require-prop-types
  // props: ['error'], // you can set a custom layout for the error page
}
</script>
