<template>
  <div class="font-sans relative overflow-hidden">
    <TheNavbar keep-alive />

    <div v-show="$store.state.loading">
      <TheLoading />
    </div>

    <Nuxt />
    <TheFooter keep-alive />
  </div>
</template>

<style>
html {
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
</style>
