<template>
  <section class="">
    <div class="relative z-40">
      <div class="max-w-screen-md mx-auto mt-36 pt-32">
        <!-- content -->
        <div class="w-full">
          <h1 class="text-3xl font-serif-light text-brand text-center">
            Sorry, it appears the link to the page you are looking for is broken
            or the page does not exist.
          </h1>
          <article class="mt-12 mb-60 text-center flex justify-center">
            <p class="w-full">
              Take me to
              <NuxtLink class="underline" to="/">www.marawar.com.au</NuxtLink>
            </p>
          </article>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Default',
  layout: 'error',
  // eslint-disable-next-line vue/require-prop-types
  props: ['error'], // you can set a custom layout for the error page
}
</script>
