<template>
  <div>
    <!-- HERO START -->
    <LazyTheHeroInner :props="heroData">
      <h2 v-scroll-reveal.reveal class="font-semibold mb-4">
        <template v-for="(cat, i) in project.categories">
          <nuxt-link
            :key="i"
            :title="cat.title"
            :to="`/our-projects/${cat.slug}`"
          >
            {{ cat.title }}
            <template v-if="i + 1 !== project.categories.length">,</template>
          </nuxt-link>
        </template>
      </h2>
      <div v-scroll-reveal.reveal class="w-full leading-normal">
        <div
          v-if="project.client !== ''"
          class="flex border-b-1 border-black border-opacity-10 py-4"
        >
          <div class="w-32 font-semibold">Client</div>
          <div class="font-normal flex-grow">{{ project.client }}</div>
        </div>
        <div
          v-if="project.timeframe !== ''"
          class="flex border-b-1 border-black border-opacity-10 py-4"
        >
          <div class="w-32 font-semibold">Timeframe</div>
          <div class="font-normal flex-grow">{{ project.timeframe }}</div>
        </div>
        <!-- <div
            v-if="project.value !== ''"
            class="flex border-b-1 border-black border-opacity-10 py-4"
          >
            <div class="w-32 font-semibold">Value</div>
            <div class="font-normal flex-grow">{{ project.value }}</div>
          </div> -->
        <div
          v-if="project.location !== ''"
          class="flex border-b-1 border-black border-opacity-10 py-4"
        >
          <div class="w-32 font-semibold">Location</div>
          <div class="font-normal flex-grow">{{ project.location }}</div>
        </div>
      </div>
    </LazyTheHeroInner>

    <!-- HERO END -->
    <LazyHydrate never>
      <TheTwoColumnsText>
        <template #lefttext="" class="prose">
          <TheSanityContent :blocks="project.body" />
        </template>
        <template #righttext="" class="">
          <div v-if="project.breakoutQuotes !== null">
            <TheSanityContent :blocks="project.breakoutQuotes" />
            <!-- <div class="text-m-blue mb-7 text-xl">
              <LazyHydrate never>
                <SanityContent :blocks="breakoutQuotes" />
              </LazyHydrate>
            </div> -->
            <!-- <p class="font-semibold mb-2">{{ testimonial.personsName }}</p>
            <p class="uppercase text-sm">{{ testimonial.position }}</p> -->
          </div>
        </template>
      </TheTwoColumnsText>
    </LazyHydrate>

    <!-- Project Gallery START -->

    <section
      v-if="project.gallery.images.length"
      title="project gallery"
      class="mx-auto bg-white py-16 px-8 overflow-hidden"
    >
      <div class="max-w-screen-lg mx-auto">
        <p class="text-lg font-semibold">Project Gallery.</p>
      </div>

      <client-only>
        <light-box
          ref="lightbox"
          :media="lightboxMedia"
          :show-light-box="false"
          :show-thumbs="false"
          next-text="next"
          previous-text="previous"
          :show-footer-count="false"
        />
      </client-only>
      <div
        v-scroll-reveal.reveal
        class="carousel-wrapper mx-auto my-10 max-w-screen-lg"
      >
        <LazyHydrate when-visible>
          <VueSlickCarousel v-bind="settings">
            <div
              v-for="(item, i) in project.gallery.images"
              :key="item._key"
              to="/"
              class="backface h-48 col-span-1 md:row-span-1 bg-gray-400 relative transition-all duration-200 hover:shadow-2xl transform hover:-translate-y-2 slide-item cursor-pointer"
              style="width: 309px; margin-right: 3rem"
              @click="openGallery(i)"
            >
              <div class="gradient-overlay"></div>
              <TheSanityImage
                :asset-id="item"
                class="w-full h-full absolute z-0 inset-0 object-cover object-center"
                auto="format"
                w="309"
                h="192"
                q="100"
                fit="min"
                width="309"
                height="192"
              />
            </div>

            <template #prevArrow="">
              <div class="custom-arrow prev">
                <i class="far fa-chevron-left"></i>
              </div>
            </template>
            <template #nextArrow="">
              <div class="custom-arrow next">
                <i class="far fa-chevron-right"></i>
              </div>
            </template>
          </VueSlickCarousel>
        </LazyHydrate>
      </div>
    </section>

    <!-- related projects -->
    <div class="px-8">
      <div class="max-w-screen-lg mx-auto bg-white pt-16 pb-32">
        <div class="text-m-darkgray lg:gap-16 mb-14 grid grid-cols-2 gap-2">
          <div v-scroll-reveal.reveal class="">
            <h3
              v-scroll-reveal.reveal
              class="heading text-8xl leading-big mt-16 mb-6"
            >
              related <br />
              projects.
            </h3>
          </div>
          <div v-scroll-reveal.reveal class="place-self-end">
            <nuxt-link
              title="Our Projects"
              :to="`/our-projects/${categoryUrl}`"
              class="text-lg text-m-blue"
            >
              View all <i class="fal fa-arrow-right ml-2"></i>
            </nuxt-link>
          </div>
        </div>
        <LazyHydrate when-visible>
          <LazyTheProject
            :limit="3"
            :slug="project.slug.current"
            :categoryslug="categoriesArray"
          />
        </LazyHydrate>
      </div>
    </div>

    <TheBackLink title="back to our projects" link="/our-projects">
      Back to projects
    </TheBackLink>

    <LazyHydrate never>
      <TheCta />
    </LazyHydrate>
  </div>
</template>

<script>
import VueSlickCarousel from 'vue-slick-carousel'
import 'vue-slick-carousel/dist/vue-slick-carousel.css'

import { groq } from '@nuxtjs/sanity'
import LazyHydrate from 'vue-lazy-hydration'

const query = groq`
*[_type == "project" && defined(publishDate) && slug.current == $slug ][0]
{
  ...,
  categories[]->{
    title,
    "slug":slug.current,
  },
  // "testimonial": testimonial->,
  "serviceType" : serviceType->{
    title,
    slug
  }
}
`

export default {
  name: 'OurProjectSlug',
  components: { VueSlickCarousel, LazyHydrate },
  transition: 'page',

  data() {
    return {
      container: 'max-w-screen-lg',
      service: 'maintenance',
      project: {},
      seo: {},
      heroData: {},
      settings: {
        arrows: true,
        dots: false,
        focusOnSelect: false,
        slidesToShow: 1,
        slidesToScroll: 1,
        touchThreshold: 5,
        infinite: false,
        variableWidth: true,
        rows: 1,
        slidesPerRow: 1,
        initialSlide: 0,
        responsive: [
          {
            breakpoint: 370,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1,
              variableWidth: false,
              infinite: true,
              initialSlide: 1,
              rows: 1,
            },
          },
        ],
      },
    }
  },
  async fetch() {
    this.$store.commit('setLoading', true)
    await this.$sanity
      .fetch(query, {
        slug: this.$route.params.slug,
      })
      .then((result) => {
        const project = result
        const intialValue = {
          // testimonial: null,
          gallery: {
            images: [],
          },
          breakoutQuotes: null,
          client: '',
          timeframe: '',
          value: '',
          location: '',
        }

        this.project = { ...intialValue, ...project }
        this.seo = project.seo

        this.heroData = {
          title: project.title,
          mainImage: project.mainImage,
        }
        this.$store.commit('setLoading', false)
      })
      .catch((err) => {
        this.$store.commit('setLoading', false)
        this.$store.commit('setError', err)
      })
  },
  head() {
    return {
      title: `${(this.seo && this.seo.pageTitle) || this.project.title} | ${
        this.$store.state.globalData.globalSettings.title
      }`,
      description: (this.seo && this.seo.metaDesc) || '',
      meta: this.$createSeoMeta({
        title: `${(this.seo && this.seo.shareTitle) || this.project.title} | ${
          this.$store.state.globalData.globalSettings.title
        }`,
        description: (this.seo && this.seo.metaDesc) || '',
        image:
          this.seo && this.seo.shareGraphic
            ? this.$urlFor(this.seo.shareGraphic.asset._ref).url()
            : this.$urlFor(this.project?.mainImage?.asset._ref).url(),
        url:
          this.$store.state.globalData.globalSettings.url +
          this.$route.fullPath,
      }),
    }
  },
  computed: {
    lightboxMedia() {
      const imageArray = []
      if (this.project.gallery.images.length > 0) {
        this.project.gallery.images.map((img) => {
          const obj = {
            thumb: this.$urlFor(img.asset._ref).size(426).url(),
            src: this.$urlFor(img.asset._ref).url(),
          }
          imageArray.push(obj)
          return obj
        })

        return imageArray
      }
      return imageArray
    },
    categoriesArray() {
      const catArr = []
      this.project.categories.map((item) => catArr.push(item.slug))
      return catArr
    },
    categoryUrl() {
      const catArr = []
      this.project.categories.map((item) => catArr.push(item.slug))
      return catArr.join()
    },
  },
  mounted() {
    setTimeout(() => {
      this.$scrollTo(this.$route.hash, 500, { offset: -50 })
    }, 1200)
    this.$fetch()
  },
  activated() {
    if (this.$fetchState.timestamp <= Date.now() - 60000) {
      this.$fetch()
    }
  },

  methods: {
    openGallery(index) {
      this.$refs.lightbox.showImage(index)
    },
  },
}
</script>

<style lang="scss" scoped>
.carousel-wrapper {
  // @apply overflow-hidden;
}
</style>

<style lang="scss">
// .vue-lb-arrow {
//   top: 80%;
// }
</style>
