<template>
  <div v-if="!$store.state.loadingCategory">
    <div
      class="max-w-screen-lg mx-auto bg-white pt-56 lg:pt-32 pb-32 px-8 xl:px-0"
    >
      <div class="text-m-darkgray lg:gap-16 mb-14 grid grid-cols-2 gap-2">
        <div v-scroll-reveal.reveal class="">
          <h4
            v-scroll-reveal.reveal
            class="heading text-8xl leading-big mt-16 mb-6"
          >
            Viewing <br />
            {{ $route.params.category | replaceDash }}
          </h4>
        </div>
        <div v-scroll-reveal.reveal class="place-self-end"></div>
      </div>
      <LazyHydrate when-visible>
        <LazyTheProject :limit="999" :categoryslug="catArray" />
      </LazyHydrate>
    </div>

    <TheBackLink title="back to our projects" link="/our-projects">
      Back to projects
    </TheBackLink>

    <LazyHydrate when-visible>
      <TheCta />
    </LazyHydrate>
  </div>
</template>

<script>
import LazyHydrate from 'vue-lazy-hydration'

export default {
  components: {
    LazyHydrate,
  },
  filters: {
    replaceDash(value) {
      return value.replace(/-/gi, ' ')
    },
  },
  transition: 'page',

  data() {
    return {
      settings: {
        autoplay: true,
        dots: true,
        arrows: false,
        dotsClass: 'slick-dots hero-dot-class',
        infinite: true,
        speed: 800,
        autoplaySpeed: 5000,
        slidesToShow: 1,
        slidesToScroll: 1,
        centerMode: true,
        adaptiveHeight: false,
        centerPadding: '0px',
        responsive: [
          {
            breakpoint: 640,
            settings: {
              centerPadding: '20px',
              adaptiveHeight: true,
            },
          },
        ],
      },
      container: 'max-w-6xl',
      news: [],
    }
  },
  head() {
    return {
      title: `${(this.seo && this.seo.pageTitle) || this.$route.name} | ${
        this.$store.state.globalData.globalSettings.title
      }`,
      description: (this.seo && this.seo.metaDesc) || '',
      meta: this.$createSeoMeta({
        title: `${(this.seo && this.seo.shareTitle) || this.$route.name} | ${
          this.$store.state.globalData.globalSettings.title
        }`,
        description: (this.seo && this.seo.metaDesc) || '',
        image: this.$urlFor(this.seo && this.seo.shareGraphic.asset._ref).url(),
        url:
          this.$store.state.globalData.globalSettings.url +
          this.$route.fullPath,
      }),
    }
  },
  computed: {
    catArray() {
      return this.$route.params.category.split(',')
    },
  },
}
</script>

<style scoped>
body {
  position: relative;
}
</style>
