<template>
  <svg
    :class="color"
    width="244"
    height="24"
    viewBox="0 0 244 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M50.886 0.14502L39.2979 23.6759H43.4589L46.6222 17.0317H58.0304L61.3714 23.6759H65.532L53.5183 0.14502H50.886ZM52.132 5.44044H52.2008L56.3243 13.6535H48.2229L52.132 5.44044Z"
      fill="currentColor"
    />
    <path
      d="M77.8308 0.252686H84.8323C86.6098 0.252686 88.2104 0.358531 89.5619 0.715817C92.6167 1.53311 95.0717 3.52185 95.0717 7.2202C95.0717 11.2352 92.191 13.2615 88.3533 13.9014V13.9729C89.8794 14.8273 90.8392 17.9535 92.7256 19.4827C93.4344 20.0512 94.2173 20.4054 95.2114 20.4054C95.6375 20.4054 96.315 20.3344 96.8492 20.1941L97.6294 23.3923C96.955 23.6777 95.7804 23.855 94.6804 23.855C92.9029 23.855 91.5167 23.2145 90.3791 22.2919C87.1444 19.6596 85.8983 14.6129 83.5179 14.6129H81.5975V23.6777H77.8308V0.252686ZM84.4437 11.2352C85.9698 11.2352 87.1788 11.1664 88.139 10.8806C89.9509 10.3465 91.1254 9.20894 91.1254 7.29121C91.1254 5.51372 89.9879 4.37621 88.4587 3.94791C87.4641 3.66476 86.3985 3.63037 84.9037 3.63037H81.5975V11.2352H84.4437Z"
      fill="currentColor"
    />
    <path
      d="M119.351 0.14502L107.766 23.6759H111.924L115.087 17.0317H126.495L129.836 23.6759H133.997L121.982 0.14502H119.351ZM120.597 5.44044H120.668L124.792 13.6535H116.684L120.597 5.44044Z"
      fill="currentColor"
    />
    <path
      d="M174.713 0.252686L168.172 17.7048H168.1L160.635 0.252686H157.366L150.471 17.7048H150.4L143.292 0.252686H139.097L148.874 23.7835H151.751L158.933 5.83081H159.001L166.751 23.7835H169.632L178.837 0.252686H174.713Z"
      fill="currentColor"
    />
    <path
      d="M196.278 0.14502L184.69 23.6759H188.851L192.011 17.0317H203.422L206.763 23.6759H210.924L198.91 0.14502H196.278ZM197.524 5.44044H197.593L201.717 13.6535H193.612L197.524 5.44044Z"
      fill="currentColor"
    />
    <path
      d="M223.223 0.252686H230.225C232.002 0.252686 233.603 0.358531 234.955 0.715817C238.009 1.53311 240.461 3.52185 240.461 7.2202C240.461 11.2352 237.583 13.2615 233.746 13.9014V13.9729C235.272 14.8273 236.232 17.9535 238.115 19.4827C238.827 20.0512 239.61 20.4054 240.604 20.4054C241.03 20.4054 241.707 20.3344 242.239 20.1941L243.022 23.3923C242.347 23.6777 241.173 23.855 240.07 23.855C238.295 23.855 236.909 23.2145 235.772 22.2919C232.537 19.6596 231.291 14.6129 228.91 14.6129H226.99V23.6777H223.223V0.252686ZM229.833 11.2352C231.363 11.2352 232.571 11.1664 233.531 10.8806C235.343 10.3465 236.518 9.20894 236.518 7.29121C236.518 5.51372 235.38 4.37621 233.852 3.94791C232.856 3.66476 231.788 3.63037 230.296 3.63037H226.99V11.2352H229.833Z"
      fill="currentColor"
    />
    <path
      d="M23.2037 0.21936L9.89795 23.6301L13.9389 23.6332L23.5865 6.32091L25.3814 23.6332H28.9449L26.5444 0.21936H23.2037Z"
      fill="currentColor"
    />
    <path
      d="M2.39471 0.21936L0 23.6332H3.56348L5.35259 6.32091L11.8195 17.9287L13.8055 14.4197L5.73534 0.21936H2.39471Z"
      fill="currentColor"
    />
    <path
      d="M15.2312 23.6362H19.0434L17.1172 20.2527L15.2312 23.6362Z"
      fill="currentColor"
    />
  </svg>
</template>

<script>
export default {
  props: {
    color: {
      type: String,
      default: 'text-m-blue',
    },
  },
}
</script>
