<template>
  <div>
    <div class="w-full h-48 flex bg-white">
      <TheSanityImage
        :asset-id="props && props.mainImage"
        class="self-center mx-auto h-36 w-auto"
        auto="format"
        w="309"
        h="192"
        q="100"
        width="309"
        height="192"
      />
    </div>
    <div class="w-full h-full flex flex-col relative">
      <p class="mt-4 uppercase">{{ props.type }}</p>
      <h3
        class="font-semibold text-xl mt-4"
        :class="typeColor === 'light' ? 'text-white' : 'text-m-darkgray'"
      >
        {{ props && props.title }}
      </h3>
      <p class="mt-4 capitalize">{{ props.provider }}</p>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    props: {
      type: Object,
      default: () => {},
    },
    typeColor: {
      type: String,
      default: 'light',
    },
  },
}
</script>
