<template>
  <div
    class="grid grid-cols-1 md:grid-cols-3 md:grid-rows-1 gap-12 my-16 px-4 lg:px-0"
  >
    <div
      v-if="$fetchState.pending"
      class="col-span-3 text-center animate-spin text-2xl"
    >
      <i class="fad fa-spinner-third"></i>
    </div>
    <div
      v-for="(post, i) in awards"
      v-else
      :key="i"
      v-scroll-reveal.reveal="{ delay: (i + 1) * 50 }"
      class="col-span-1 md:row-span-1"
    >
      <div class="block">
        <TheAwardsCard :props="post" :type-color="typeColor" />
      </div>
    </div>
  </div>
</template>

<script>
import { groq } from '@nuxtjs/sanity'

const query = groq`*[_type == "awards" && defined(publishDate)]|order(publishDate desc) [0..$limit]`

export default {
  props: {
    limit: {
      type: Number,
      default: 1,
    },
    typeColor: {
      type: String,
      default: 'light',
    },
  },
  data: () => ({ awards: [] }),
  async fetch() {
    this.awards = await this.$sanity.fetch(query, {
      limit: this.limit - 1,
    })
  },
}
</script>
