<template functional>
  <div class="max-w-screen-lg mx-auto pb-32 px-8 xl:px-0">
    <nuxt-link
      v-scroll-reveal.reveal
      :to="props.link"
      :title="props.title"
      class="font-bold text-black my-20"
    >
      <i class="fal fa-arrow-left mr-2"></i> <slot></slot>
    </nuxt-link>
  </div>
</template>
