<template>
  <NuxtLink
    :to="link"
    :class="{
      'text-white font-normal': buttonLight,
      'text-m-darkgray font-bold': buttonDark,
      'text-m-darkgray font-normal': buttonLightDark,
      'text-m-blue font-normal': buttonBlue,
      'text-m-beige font-bold': buttonBeige,
    }"
    class="font-sans flex items-center justify-start leading-none group mt-2"
    :title="title"
  >
    <slot />
    <i
      class="fal fa-arrow-right ml-2 transform transition-all duration-200 group-hover:translate-x-1"
    ></i>
  </NuxtLink>
</template>

<script>
export default {
  props: {
    link: {
      type: String,
      default: '/',
    },
    buttonLight: Boolean,
    buttonDark: Boolean,
    buttonLightDark: Boolean,
    buttonBlue: Boolean,
    buttonBeige: Boolean,
    title: {
      type: String,
      default: '',
    },
  },
}
</script>
