<template functional>
  <div v-scroll-reveal.reveal class="relative">
    <i
      class="absolute bottom-5 left-5 fal fa-play-circle text-white text-4xl z-10"
    ></i>

    <img :src="'/images/' + props.image" alt="" />
  </div>
</template>
