<template>
  <!-- CTA START -->
  <div class="cta-orange bg-m-beige-light py-32">
    <div
      class="mx-auto text-center"
      :class="cta && cta.text ? 'max-w-4xl' : 'max-w-3xl'"
    >
      <h2 v-scroll-reveal.reveal class="heading text-4xl">
        {{
          (cta && cta.title) || $store.state.globalData.globalSettings.cta.title
        }}
      </h2>
      <h3
        v-scroll-reveal.reveal
        class="font-bold mt-8 mb-10"
        :class="cta && cta.text ? 'text-3xl' : 'text-4xl'"
      >
        {{
          (cta && cta.text) || $store.state.globalData.globalSettings.cta.text
        }}
      </h3>
      <div v-scroll-reveal.reveal>
        <NuxtLink
          v-if="cta && cta.route"
          :title="
            (cta && cta.linkTitle) ||
            $store.state.globalData.globalSettings.cta.route.slug
          "
          :to="`/${
            (cta && cta.route.slug.current) ||
            $store.state.globalData.globalSettings.cta.route.slug
          }`"
          class="text-lg bg-m-darkgray text-white px-10 py-3 rounded-md leading-none hover:bg-m-blue"
        >
          {{
            (cta && cta.linkTitle) ||
            $store.state.globalData.globalSettings.cta.linkTitle
          }}
        </NuxtLink>
      </div>
    </div>
  </div>
  <!-- CTA END -->
</template>

<script>
export default {
  props: {
    cta: {
      type: Object,
      default: () => {},
    },
  },
}
</script>
