<template functional>
  <div class="rounded-md bg-red-50 p-4 mt-10">
    <div class="flex">
      <div class="flex-shrink-0">
        <i
          class="fad fa-times-circle h-5 w-5 text-red-400"
          aria-hidden="true"
        ></i>
      </div>
      <div class="ml-3">
        <h3 class="text-sm font-medium text-red-800">
          There are error with submission
        </h3>
        <div class="mt-2 text-sm text-red-400">
          <p>{{ props.title }}</p>
        </div>
      </div>
    </div>
  </div>
</template>
