<template>
  <div v-if="!$store.state.loading" class="footer bg-m-blue text-white">
    <div class="max-w-6xl mx-auto px-8 xl:px-0 relative z-0">
      <TheBoomerang
        color="text-m-darkgray"
        class="absolute -top-8 left-0 transform -translate-x-full"
      />
      <div
        class="w-full flex flex-col md:flex-row items-start justify-start lg:justify-between py-16 border-b border-white border-opacity-20"
      >
        <div class="w-full md:w-5/12">
          <!-- <TheSanityImage
            :asset-id="$store.state.globalData.footer.footerTopLogo.asset._ref"
            class="w-40 text-white"
          /> -->
          <Logo color="text-white" class="w-40" />
        </div>
        <div
          class="w-full md:w-7/12 flex flex-col lg:flex-row flex-shrink-0 items-start lg:items-center justify-between mt-8 md:mt-0"
        >
          <h4 class="uppercase font-semibold whitespace-pre-line text-left">
            {{ $store.state.globalData.footer.footerTopText }}
          </h4>
          <NuxtLink
            :to="$store.state.globalData.footer.footerTopLink.slug"
            :title="$store.state.globalData.footer.footerTopLinkTitle"
            class="px-10 py-4 rounded-lg bg-m-beige text-m-blue leading-none mt-8 lg:mt-0"
          >
            {{ $store.state.globalData.footer.footerTopLinkTitle }}
          </NuxtLink>
        </div>
      </div>

      <div
        class="w-full flex flex-col lg:flex-row items-start justify-between py-16"
      >
        <div class="w-full lg:w-5/12">
          <h4 class="text-m-beige font-semibold">
            {{ $store.state.globalData.footer.col1.title }}
          </h4>
          <div class="max-w-md lg:max-w-xs my-4">
            <SanityContent
              :blocks="$store.state.globalData.footer.col1.content"
            />
          </div>
        </div>
        <div
          class="w-full lg:w-7/12 flex flex-wrap items-start justify-between mt-8 lg:mt-0 text-sm"
        >
          <div class="w-1/2 md:w-1/3">
            <h4 class="text-m-beige font-semibold mb-4">
              {{ $store.state.globalData.footer.col2.title }}
            </h4>
            <ul>
              <li
                v-for="link in $store.state.globalData.footer.col2.menu"
                :key="link.slug"
                class="mb-3"
              >
                <NuxtLink
                  :title="link.title"
                  :to="'/capabilities/' + link.slug"
                >
                  {{ link.title }}
                </NuxtLink>
              </li>
            </ul>
          </div>
          <div class="w-1/2 md:w-1/3 text-sm">
            <h5 class="text-m-beige font-semibold mb-4">About Us</h5>
            <ul>
              <li
                v-for="link in $store.state.globalData.footer.col3.menu"
                :key="link.slug"
                class="mb-3"
              >
                <NuxtLink :title="link.title" :to="'/' + link.slug">{{
                  link.title
                }}</NuxtLink>
              </li>
            </ul>
          </div>
          <div class="w-1/2 md:w-1/3 mt-6 md:mt-0 text-sm">
            <h4 class="text-m-beige font-semibold mb-4">
              {{ $store.state.globalData.footer.col4.title }}
            </h4>
            <p class="mb-4">
              {{ $store.state.globalData.footer.col4.address1Footer }}
            </p>
            <p class="mb-4">
              {{ $store.state.globalData.footer.col4.address2Footer }}
            </p>
            <template v-if="$store.state.globalData.footer.col4.socialMedia">
              <a
                v-for="social in $store.state.globalData.footer.col4
                  .socialMedia"
                :key="social._key"
                :title="social.platform"
                :href="social.url"
                class="flex items-center justify-start"
              >
                <i class="fab text-lg" :class="`fa-${social.platform}`"></i>

                <span class="ml-2 leading-none mt-0.5">
                  {{ social.platform }}
                </span>
              </a>
            </template>
          </div>
        </div>
      </div>
      <div
        class="w-full flex flex-col lg:flex-row items-start lg:items-center justify-start order-2 md:order-1 pb-24 text-sm"
      >
        <div class="w-full md:w-1/2 lg:w-5/12 order-2 lg:order-1">
          <p class="opacity-50 text-center md:text-left">
            {{ $store.state.globalData.footer.copright }}
          </p>
        </div>
        <div
          class="w-full md:w-1/2 lg:w-7/12 flex flex-col lg:flex-row items-end justify-end lg:items-center lg:justify-between order-1 lg:order-2"
        >
          <div
            class="w-full flex items-center justify-center md:justify-start lg:justify-center order-2 lg:order-1 my-6 lg:my-0"
          >
            <a
              :title="$store.state.globalData.footer.link1Title"
              :href="$store.state.globalData.footer.link1Url"
              class=""
              target="_blank"
              rel="noopener"
            >
              {{ $store.state.globalData.footer.link1Title }}
            </a>
            <NuxtLink
              class="mx-6"
              :to="'/' + $store.state.globalData.footer.link2Url.slug"
              :title="$store.state.globalData.footer.link2Title"
            >
              {{ $store.state.globalData.footer.link2Title }}
            </NuxtLink>
          </div>
          <div
            v-if="$store.state.globalData.footer.showSearch"
            class="w-full lg:w-auto relative order-1 lg:order-2"
          >
            <input
              id=""
              v-model="search"
              class="w-full lg:w-64 appearance-none outline-none focus:outline-none focus:border-white focus:placeholder-blue-300 bg-transparent border border-white py-4 rounded-md placeholder-white text-sm"
              type="text"
              name="search"
              placeholder="Search site"
              @keyup.enter="goToSearchPage"
            />
            <svg
              class="absolute top-5 right-4"
              width="16"
              height="17"
              viewBox="0 0 16 17"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M15.8828 15.3848L12.0997 11.6091C12.0059 11.5467 11.9121 11.4843 11.8183 11.4843H11.4118C12.381 10.3609 13.0064 8.86312 13.0064 7.24049C13.0064 3.6832 10.0674 0.75 6.50318 0.75C2.90767 0.75 0 3.6832 0 7.24049C0 10.829 2.90767 13.731 6.50318 13.731C8.12897 13.731 9.59844 13.1381 10.7553 12.1708V12.5764C10.7553 12.67 10.7865 12.7637 10.849 12.8573L14.6321 16.633C14.7885 16.789 15.0386 16.789 15.1637 16.633L15.8828 15.9153C16.0391 15.7905 16.0391 15.5408 15.8828 15.3848ZM6.50318 12.2332C3.72057 12.2332 1.50073 10.0177 1.50073 7.24049C1.50073 4.49451 3.72057 2.24781 6.50318 2.24781C9.25452 2.24781 11.5056 4.49451 11.5056 7.24049C11.5056 10.0177 9.25452 12.2332 6.50318 12.2332Z"
                fill="white"
              />
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      search: '',
    }
  },
  methods: {
    goToSearchPage() {
      this.$router.push({ path: '/search', query: { q: this.search } })
    },
  },
}
</script>

<style lang="scss" scoped>
.footer {
  min-height: 300px;
}
</style>
