<template>
  <div>
    <SanityFile v-if="theFile" :asset-id="theFile.fileUpload.asset._ref">
      <template #default="{ src }">
        <a
          v-scroll-reveal.reveal
          class="mt-8 font-semibold fileUpload"
          :href="`${src}`"
          target="_blank"
          download
        >
          {{ theFile.description }}

          <i
            class="fal fa-arrow-right ml-2 transform transition-all duration-200 group-hover:translate-x-1"
          ></i>
        </a>
      </template>
    </SanityFile>
  </div>
</template>

<script>
import { SanityFile } from '@nuxtjs/sanity/dist/components/sanity-file'
export default {
  components: { SanityFile },
  props: {
    theFile: {
      type: Object,
      default: () => {},
    },
  },
}
</script>

<style lang="scss" scoped>
.fileUpload {
  @apply font-semibold;

  text-decoration: none;
}
</style>
