<template>
  <div class="px-8 lg:px-12 pt-20 md:pt-40 lg:relative header-minheight">
    <div class="max-w-screen-lg mx-auto pb-20">
      <div class="relative z-10 lg:w-3/6 lg:pr-12 lg:mt-16">
        <p
          v-if="props.publishDate"
          v-scroll-reveal.reveal
          class="font-semibold"
        >
          {{ props.publishDate }}
        </p>
        <h1
          v-scroll-reveal.reveal
          class="heading text-7xl uppercase leading-big mt-0 md:mt-4 mb-8"
          v-html="props && props.title"
        ></h1>
        <div v-scroll-reveal.reveal class="w-full leading-normal">
          <slot></slot>
        </div>
      </div>
      <div
        v-scroll-reveal.reveal
        class="mt-10 lg:mt-0 lg:absolute lg:right-0 lg:top-48 lg:w-3/6"
      >
        <div>
          <img
            :src="$urlFor(props.mainImage)"
            :alt="props.title"
            loading="lazy"
            class="shadow-2xl max-w-3xl h-auto w-full"
            auto="format"
          />
        </div>
        <!-- <TheSanityImage
            v-rellax="{ speed: -2 }"
            :asset-id="props && props.mainImage"
            class="shadow-2xl lg:w-3/6"
            auto="format"
            width="768"
            height="514"
          /> -->
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    props: {
      type: Object,
      default: () => {},
    },
  },
}
</script>
