<template>
  <div class="max-w-screen-lg lg:mx-auto mx-8 pb-10">
    <div class="relative z-10 lg:w-3/6 lg:pr-12 lg:mt-16">
      <h1 class="heading text-7xl leading-big mb-8">
        {{ props.title }}
      </h1>
      <template v-for="(cat, i) in props.categories">
        <nuxt-link
          :key="i"
          class="mb-4 font-semibold"
          :title="cat.title"
          :to="`/our-projects/${cat.slug}`"
        >
          {{ cat.title }}
          <template v-if="i + 1 !== props.categories.length">,</template>
        </nuxt-link>
      </template>
      <div class="w-full leading-normal">
        <slot></slot>
      </div>
      <nuxt-link
        v-if="props.slug"
        :to="`${parentRoute}/${props.slug.current}`"
        class="font-semibold mt-8 block"
        :title="props.title"
      >
        Read more
        <i class="fal fa-arrow-right ml-2"></i>
      </nuxt-link>
    </div>
    <div
      v-if="props.mainImage.asset"
      class="max-w-screen-2xl lg:mx-auto mt-10 lg:mt-0 lg:absolute lg:inset-x-0 lg:top-5 lg:flex lg:flex-row lg:justify-end"
    >
      <SanityImage
        :asset-id="props.mainImage.asset._ref"
        auto="format"
        w="768"
        h="514"
        q="100"
        fit="min"
      >
        <template #default="{ src }">
          <img
            :src="src"
            width="768"
            height="514"
            :alt="props.mainImage.alt || ''"
            class="shadow-2xl lg:w-3/6 lg:h-full h-auto"
          />
        </template>
      </SanityImage>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TheHeroSlider',
  props: {
    props: {
      type: Object,
      default: () => {},
    },
    parentRoute: {
      type: String,
      default: '/',
    },
    bg: {
      type: Number,
      default: 1,
    },
  },
}
</script>
