<template>
  <div
    class="hero-section max-h-840 px-8 lg:px-12 pt-10 md:pt-40 bg-m-beige-light lg:relative h-840"
    :class="bg === 2 ? 'bg-2' : ''"
  >
    <div class="max-w-screen-lg mx-auto pb-20 lg:pb-32 xl:pb-48">
      <div
        v-rellax="{ speed: -2 }"
        class="relative z-10 lg:w-3/6 lg:pr-12 lg:mt-16"
      >
        <h1
          v-scroll-reveal.reveal
          class="heading text-9xl leading-big mb-8"
          :class="headingSmall ? 'text-8xl' : 'text-9xl'"
          v-html="props.heading"
        ></h1>
        <div v-scroll-reveal.reveal class="w-full leading-normal">
          <slot></slot>
        </div>
        <nuxt-link
          v-if="props.link"
          v-scroll-reveal.reveal
          :to="props.link"
          :title="props.heading"
          class="font-semibold mt-8 block"
        >
          Read more <i class="fal fa-arrow-right ml-2"></i>
        </nuxt-link>
      </div>
      <div
        v-scroll-reveal.reveal
        class="max-w-screen-2xl mx-auto mt-10 lg:mt-0 lg:absolute lg:inset-x-0 lg:top-48 lg:flex lg:flex-row lg:justify-end"
      >
        <TheSanityImage
          v-if="props.mainImage"
          v-rellax="{ speed: -2 }"
          :asset-id="props.mainImage"
          :class-name="'shadow-2xl lg:w-3/6 lg:h-full h-auto'"
          auto="format"
          w="768"
          h="514"
          q="100"
          fit="min"
          width="768"
          height="514"
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    props: {
      type: Object,
      default: () => {},
    },
    bg: {
      type: Number,
      default: 1,
    },
    headingSmall: {
      type: Boolean,
      default: false,
    },
  },
}
</script>
