<template>
  <transition name="loading">
    <div
      class="fixed top-0 left-0 right-0 bottom-0 w-full h-screen z-40 overflow-hidden bg-m-beige-light flex flex-col items-center justify-center mb-10"
    >
      <!-- <div
        class="
          loader
          ease-linear
          rounded-full
          border-4 border-t-4 border-gray-200
          h-12
          w-12
          mb-4
        "
      ></div> -->
    </div>
  </transition>
</template>
