<template>
  <div>
    <Transition name="page">
      <div
        class="fixed z-50 inset-0 w-screen h-screen bg-black bg-opacity-60"
      ></div>
    </Transition>
    <Transition name="page">
      <div
        class="fixed z-50 top-1/4 left-1/2 rounded-lg bg-m-beige hero-section acknowledge overflow-hidden"
      >
        <div class="max-w-screen-md mx-auto text-center">
          <GmapMap
            :center="{ lat: -31.942073350972812, lng: 115.83421042686409 }"
            :zoom="16"
            map-type-id="terrain"
            class="w-1/2 h-96"
            style="width: 700px; height: 300px"
          >
            <GmapMarker
              v-for="(m, index) in markers"
              :key="index"
              :position="m.position"
              :clickable="true"
              :draggable="true"
              @click="center = m.position"
            />
          </GmapMap>
        </div>
      </div>
    </Transition>
  </div>
</template>

<script>
export default {
  data() {
    return {
      markers: [
        {
          position: {
            lat: -31.9421006639053,
            lng: 115.83422115569965,
          },
        },
      ],
    }
  },
}
</script>

<style lang="scss" scoped>
.acknowledge {
  margin-left: -350px;
  // margin-top: calc(-463px / 2);
}
</style>
