<template>
  <div>
    <TheSanityImage
      :asset-id="props && props.mainImage"
      class="w-full h-48 object-cover object-center max-h-48"
      auto="format"
      w="309"
      h="192"
      q="100"
      fit="min"
      width="309"
      height="192"
    />
    <div class="w-full h-full flex flex-col relative">
      <h3
        class="font-semibold text-xl mt-4"
        :class="typeColor === 'light' ? 'text-white' : 'text-m-darkgray'"
      >
        {{ props && props.title }}
      </h3>
      <template v-if="typeColor === 'light'">
        <TheButtonText
          :link="`/news/${props && props.slug.current}`"
          :title="props.title"
          button-light
          >Read more</TheButtonText
        >
      </template>
      <template v-else>
        <TheButtonText
          :link="`/news/${props && props.slug.current}`"
          :title="props.title"
          button-light-dark
          >Read more</TheButtonText
        >
      </template>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    props: {
      type: Object,
      default: () => {},
    },
    typeColor: {
      type: String,
      default: 'light',
    },
  },
}
</script>
