<template>
  <div class="w-full">
    <div
      :class="{ 'bg-white': showNav }"
      class="w-full px-6 py-5 flex items-center justify-between"
    >
      <NuxtLink title="home" to="/"><Logo class="w-48" /></NuxtLink>
      <div class="cursor-pointer" @click="showNav = !showNav">
        <svg
          width="21"
          height="18"
          viewBox="0 0 21 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M20.4375 2.8125C20.7188 2.8125 21 2.57812 21 2.25V0.75C21 0.46875 20.7188 0.1875 20.4375 0.1875H0.5625C0.234375 0.1875 0 0.46875 0 0.75V2.25C0 2.57812 0.234375 2.8125 0.5625 2.8125H20.4375ZM20.4375 10.3125C20.7188 10.3125 21 10.0781 21 9.75V8.25C21 7.96875 20.7188 7.6875 20.4375 7.6875H0.5625C0.234375 7.6875 0 7.96875 0 8.25V9.75C0 10.0781 0.234375 10.3125 0.5625 10.3125H20.4375ZM20.4375 17.8125C20.7188 17.8125 21 17.5781 21 17.25V15.75C21 15.4688 20.7188 15.1875 20.4375 15.1875H0.5625C0.234375 15.1875 0 15.4688 0 15.75V17.25C0 17.5781 0.234375 17.8125 0.5625 17.8125H20.4375Z"
            fill="#3A3228"
          />
        </svg>
      </div>
    </div>
    <transition name="page">
      <div
        v-show="showNav"
        class="absolute w-full h-auto pb-24 flex items-center justify-center bg-white border"
      >
        <div
          ref="menu"
          class="h-full transform transition-all duration-200 z-30 flex flex-col items-center justify-between w-full"
        >
          <ul
            class="h-full flex-1 flex flex-col items-center justify-between text-2xl w-full"
          >
            <li
              v-for="item in $store.state.globalData.mainNavigation.children"
              :key="item._key"
              class="py-6 text-base text-center border-b-1 border-black border-opacity-10 text-m-blue font-bold w-full"
            >
              <NuxtLink
                :title="item.name"
                :to="`/${item.slug}`"
                @click.native="showNav = !showNav"
              >
                {{ item.name }}
              </NuxtLink>
              <template v-if="item.children && item.children.length > 0">
                <transition
                  enter-active-class="transition duration-300 ease-out transform"
                  enter-class="-translate-y-3 scale-95 opacity-0"
                  enter-to-class="translate-y-0 scale-100 opacity-100"
                  leave-active-class="transition duration-150 ease-in transform"
                  leave-class="translate-y-0 opacity-100"
                  leave-to-class="-translate-y-3 opacity-0"
                >
                  <div class="relative pt-4">
                    <div
                      class="relative bg-white rounded-md w-full text-center"
                    >
                      <div
                        class="absolute top-0 w-4 h-4 origin-center transform rotate-45 translate-x-5 -translate-y-2 bg-white rounded-sm pointer-events-none dot-center"
                      ></div>
                      <div class="relative">
                        <template v-for="child in item.children">
                          <nuxt-link
                            v-if="child._type === 'menuItem'"
                            :key="child._key"
                            :to="`/${item.slug}/${child.slug}`"
                            :title="child.name"
                            class="block w-full py-3 font-medium text-gray whitespace-no-wrap hover:bg-m-beige-light focus:outline-none hover:text-gray-900 focus:text-gray-900 focus:shadow-outline transition duration-300 ease-in-out"
                            @click.native="showNav = !showNav"
                          >
                            {{ child.name | removeDot }}
                          </nuxt-link>
                          <nuxt-link
                            v-else
                            :key="child._key"
                            :to="`/${child.slug}`"
                            :title="child.name"
                            class="block w-full px-0 py-3 font-semibold text-gray whitespace-no-wrap hover:bg-m-beige-light focus:outline-none hover:text-gray-900 focus:text-gray-900 focus:shadow-outline transition duration-300 ease-in-out"
                            @click.native="showNav = !showNav"
                          >
                            {{ child.name | removeDot }}
                          </nuxt-link>
                        </template>
                      </div>
                    </div>
                  </div>
                </transition>
              </template>
            </li>
          </ul>
          <NuxtLink
            title="contact us"
            to="/contact-us"
            class="mt-8 px-6 py-4 text-white bg-m-blue font-bold rounded-full leading-none"
            @click.native="showNav = !showNav"
            >Contact Us</NuxtLink
          >
        </div>
        <!-- <div
          class="
            absolute
            top-0
            right-0
            mt-5
            mr-4
            flex
            xl:hidden
            cursor-pointer
            justify-end
          "
          @click="toggleNav"
        >
          <svg
            width="21"
            height="18"
            viewBox="0 0 21 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M20.4375 2.8125C20.7188 2.8125 21 2.57812 21 2.25V0.75C21 0.46875 20.7188 0.1875 20.4375 0.1875H0.5625C0.234375 0.1875 0 0.46875 0 0.75V2.25C0 2.57812 0.234375 2.8125 0.5625 2.8125H20.4375ZM20.4375 10.3125C20.7188 10.3125 21 10.0781 21 9.75V8.25C21 7.96875 20.7188 7.6875 20.4375 7.6875H0.5625C0.234375 7.6875 0 7.96875 0 8.25V9.75C0 10.0781 0.234375 10.3125 0.5625 10.3125H20.4375ZM20.4375 17.8125C20.7188 17.8125 21 17.5781 21 17.25V15.75C21 15.4688 20.7188 15.1875 20.4375 15.1875H0.5625C0.234375 15.1875 0 15.4688 0 15.75V17.25C0 17.5781 0.234375 17.8125 0.5625 17.8125H20.4375Z"
              fill="#3A3228"
            />
          </svg>
        </div> -->
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  filters: {
    removeDot(value) {
      return value.replace(/\./g, ' ')
    },
  },
  data() {
    return {
      showNav: false,
      isVisible: -1,
    }
  },
}
</script>

<style lang="scss" scoped>
.dot-center {
  left: 45%;
}
</style>
