<template>
  <div class="w-full py-3 px-10">
    <div
      ref="menu"
      class="transform transition-all duration-200 absolute hidden left-0 z-30 xl:flex xl:relative items-center justify-between"
    >
      <NuxtLink title="home" to="/"><Logo class="w-48" /></NuxtLink>
      <ul
        class="flex-1 flex items-center justify-center text-base leading-none font-bold"
      >
        <li
          v-for="(item, i) in $store.state.globalData.mainNavigation.children"
          :key="item._key"
          class="mx-4 relative inline-block"
          @mouseover="isVisible = i"
          @mouseleave="isVisible = -1"
          @keydown.enter="isVisible = !isVisible"
          @click="isVisible = -1"
        >
          <NuxtLink :title="item.name" :to="`/${item.slug}`">
            {{ item.name }}
          </NuxtLink>
          <template v-if="item.children && item.children.length > 0">
            <transition
              enter-active-class="transition duration-300 ease-out transform"
              enter-class="-translate-y-3 scale-95 opacity-0"
              enter-to-class="translate-y-0 scale-100 opacity-100"
              leave-active-class="transition duration-150 ease-in transform"
              leave-class="translate-y-0 opacity-100"
              leave-to-class="-translate-y-3 opacity-0"
            >
              <div v-show="isVisible == i" class="absolute pt-4 -left-full">
                <div
                  class="relative p-4 bg-white border border-gray-200 rounded-md shadow-xl w-72 text-left"
                >
                  <div
                    class="absolute top-0 w-4 h-4 origin-center transform rotate-45 translate-x-5 -translate-y-2 bg-white border-t border-l border-gray-200 rounded-sm pointer-events-none dot-center"
                  ></div>
                  <div class="relative">
                    <template v-for="child in item.children">
                      <nuxt-link
                        v-if="child._type === 'menuItem'"
                        :key="child._key"
                        :to="`/${item.slug}/${child.slug}`"
                        :title="child.name"
                        class="block w-full pl-8 pr-0 py-3 border-b-1 border-black border-opacity-10 font-medium text-gray whitespace-no-wrap hover:bg-m-beige-light focus:outline-none hover:text-gray-900 focus:text-gray-900 focus:shadow-outline transition duration-300 ease-in-out"
                      >
                        {{ child.name | removeDot }}
                      </nuxt-link>
                      <nuxt-link
                        v-else
                        :key="child._key"
                        :to="`/${child.slug}`"
                        :title="child.name"
                        class="block w-full px-0 py-3 font-semibold text-gray whitespace-no-wrap hover:bg-m-beige-light focus:outline-none hover:text-gray-900 focus:text-gray-900 focus:shadow-outline transition duration-300 ease-in-out"
                      >
                        {{ child.name | removeDot }}
                      </nuxt-link>
                    </template>
                  </div>
                </div>
              </div>
            </transition>
          </template>
        </li>

        <!-- <li class="relative inline-block mx-4">
          <NuxtLink title="capabilities" to="/capabilities">
            Capabilities
          </NuxtLink>
        </li> -->
      </ul>

      <NuxtLink
        title="contact us"
        to="/contact-us"
        class="px-6 py-4 text-white bg-m-blue font-bold rounded-full leading-none"
        >Contact Us</NuxtLink
      >
    </div>
  </div>
</template>

<script>
export default {
  filters: {
    removeDot(value) {
      return value.replace(/\./g, ' ')
    },
  },
  data() {
    return {
      isVisible: -1,
    }
  },
}
</script>

<style lang="scss" scoped>
.dot-center {
  left: 40%;
}
</style>
