<template>
  <div
    id="navbar"
    class="xl:fixed relative transition-all duration-500 z-50 top-0 left-0 w-full"
  >
    <div>
      <div
        class="nav-top flex items-center justify-end py-4 px-10 text-xs border-b-1 border-black border-opacity-10"
      >
        <div class="flex items-center justify-start">
          <i class="fas fa-phone-alt mr-2 text-base text-m-blue"></i>
          <a
            v-if="$store.state.globalData.globalSettings.phone.office"
            class="text-m-blue mr-6"
            :href="`tel:+${$store.state.globalData.globalSettings.phone.office}`"
            :title="`office tel:+${$store.state.globalData.globalSettings.phone.office}`"
            >{{ $store.state.globalData.globalSettings.phone.office }}</a
          >
        </div>
        <a
          v-if="$store.state.globalData.globalSettings.phone.emergency"
          class="text-m-darkgray"
          :href="`tel:+${$store.state.globalData.globalSettings.phone.emergency}`"
          :title="`After hours emergency tel:+${$store.state.globalData.globalSettings.phone.emergency}`"
          >After hours emergency
          {{ $store.state.globalData.globalSettings.phone.emergency }}</a
        >
      </div>
      <div class="nav-bottom flex items-center justify-between relative">
        <TheNavMobile class="block xl:hidden" />
        <TheNavDesktop class="hidden xl:block" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  mounted() {
    this.scrollNav()
  },
  methods: {
    scrollNav() {
      const navbarEl = document.getElementById('navbar')
      let lastKnownScrollPosition = 0
      let ticking = false

      function doSomething(scrollPos) {
        if (scrollPos > 50) {
          navbarEl.style.transform = 'translateY(-52px)'
          navbarEl.style.backgroundColor = '#ffffff'
          navbarEl.classList.add('shadow-xl')
        } else {
          navbarEl.style.transform = 'translateY(0)'
          navbarEl.style.backgroundColor = 'transparent'
          navbarEl.classList.remove('shadow-xl')
        }
      }

      document.addEventListener('scroll', function (e) {
        lastKnownScrollPosition = window.scrollY

        if (!ticking) {
          window.requestAnimationFrame(function () {
            doSomething(lastKnownScrollPosition)
            ticking = false
          })

          ticking = true
        }
      })
    },
  },
}
</script>

<style>
.navActive {
  top: 0 !important;
}
</style>
