<template>
  <div>
    <div v-if="$fetchState.pending" class="text-center animate-spin text-2xl">
      <i class="fad fa-spinner-third"></i>
    </div>
    <div v-else-if="!project.length">
      <p v-scroll-reveal.reveal>No related project</p>
    </div>

    <div
      v-else
      class="grid grid-cols-1 md:grid-cols-3 gap-12 my-16 px-4 lg:px-0"
      :class="project.length > 3 ? 'md:grid-rows-2' : 'md:grid-rows-1'"
    >
      <NuxtLink
        v-for="(item, i) in project"
        :key="i"
        v-scroll-reveal.reveal="{ delay: (i + 1) * 50 }"
        :title="item.title"
        class="backface h-48 col-span-1 md:row-span-1 bg-gray-400 relative transition-all duration-200 hover:shadow-2xl transform hover:-translate-y-2 z-10"
        :to="`/our-projects/${setCatSlug(item.categories)}/${
          item.slug.current
        }`"
        :class="{
          'filter grayscale hover:grayscale-0 ease-linear':
            filterslug &&
            item.categories !== null &&
            isCategoryMatch(filterslug, item.categories),
        }"
      >
        <div class="gradient-overlay"></div>
        <TheSanityImage
          :asset-id="item.mainImage"
          class-name="w-full h-full absolute z-0 inset-0 object-cover object-center"
          auto="format"
          w="309"
          h="192"
          q="100"
          fit="min"
          width="309"
          height="192"
        />
        <div
          class="text-white px-8 py-5 w-full h-full flex flex-row items-stretch relative z-20"
        >
          <!-- <h4 class="heading leading-none text-lg">
            {{ item.serviceType.title }}
          </h4> -->
          <h3 class="font-bold text-xl self-end line-clamp-1">
            {{ item.title }}
          </h3>
        </div>
      </NuxtLink>
    </div>
  </div>
</template>

<script>
import { groq } from '@nuxtjs/sanity'

const query = groq`*[_type == "project"
  && defined(publishDate)
  && slug.current != $slug] {
  ...,
  categories[]->{"slug": slug.current, title},
  serviceType->{
    title,
    slug
  }
} |order(publishDate desc) [0..$limit]`

const queryRelated = groq`*[_type == "project"
  && defined(publishDate)
  && slug.current != $slug
  && categories != null
  && references(*[_type=="projectCategory" && slug.current in $category]._id)
  ] {
  ...,
  categories[]->{"slug": slug.current, title},
  serviceType->{
    title,
    slug
  }
} | order(publishDate desc) [0..$limit]`

const queryFeatured = groq`*[_type == "project" && defined(publishDate) && featured == $featured && slug.current != $slug] {
  ...,
  categories[]->{"slug": slug.current, title},
  serviceType->{
    title,
    slug
  }
} | order(_updatedAt desc) [0..$limit]`

export default {
  filters: {
    truncate(data, num) {
      const reqdString = data.split('').slice(0, num).join('')
      return reqdString + '...'
    },
  },
  props: {
    limit: {
      type: Number,
      default: 1,
    },
    featured: {
      type: Boolean,
      default: false,
    },
    slug: {
      type: String,
      default: '',
    },
    categoryslug: {
      type: Array,
      default: () => [],
    },
    filterslug: {
      type: String,
      default: '',
    },
  },
  data: () => ({ project: [] }),
  async fetch() {
    if (this.featured) {
      this.project = await this.$sanity.fetch(queryFeatured, {
        limit: this.limit - 1,
        featured: this.featured,
        slug: this.slug,
      })
      this.$store.commit('setLoadingCategory', false)
    } else if (this.categoryslug.length > 0) {
      this.project = await this.$sanity.fetch(queryRelated, {
        limit: this.limit - 1,
        featured: this.featured,
        slug: this.slug,
        category: this.categoryslug,
      })
      this.$store.commit('setLoadingCategory', false)
    } else {
      this.project = await this.$sanity.fetch(query, {
        limit: this.limit - 1,
        slug: this.slug,
      })
      this.$store.commit('setLoadingCategory', false)
    }
  },
  methods: {
    isCategoryMatch(filtered, cat) {
      const isMatch = cat.filter((el) => el.slug === filtered)
      if (isMatch.length > 0) return false
      return true
    },
    setCatSlug(cat) {
      if (cat !== null) {
        if (this.filterslug !== '') {
          const isMatch = cat.filter((el) => el.slug === this.filterslug)
          if (isMatch.length > 0) return isMatch[0].slug
          return cat[0].slug
        }
        // if (this.categoryslug.length > 0) {
        //   return this.categoryslug[0]
        // }
        return cat[0].slug
      } else if (cat === null) return 'uncategorized'
    },
  },
}
</script>

<style lang="scss" scoped>
.line-clamp-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
</style>
