<template>
  <div class="flex flex-col">
    <h4 class="mb-4">Other News</h4>
    <ul class="other-news-list">
      <li v-for="(item, i) in news" :key="i">
        <nuxt-link :to="`/news/${item.slug.current}`" :title="item.title">
          <h2 class="font-bold text-lg mt-1">{{ item.title }}</h2>
          <div class="mt-1">
            Read more <i class="fal fa-arrow-right ml-2"></i>
          </div>
        </nuxt-link>
      </li>
    </ul>
  </div>
</template>

<script>
import { groq } from '@nuxtjs/sanity'
const query = groq`
*[_type == "news" && defined(publishDate) && slug.current != $slug ][0..2]
{
  slug,
  title,
}
`
export default {
  name: 'TheRelatedNews',
  data: () => ({ news: [] }),
  async fetch() {
    this.news = await this.$sanity.fetch(query, {
      slug: this.$route.params.slug,
    })
  },
  mounted() {
    this.$fetch()
  },
}
</script>

<style lang="scss" scoped>
.other-news-list {
  li {
    @apply py-8 border-b-1 border-black border-opacity-10;

    &:last-child {
      @apply border-none pb-0;
    }
    &:first-child {
      @apply pt-0;
    }
  }
}
</style>
