<template>
  <SanityImage
    :asset-id="(assetId.asset && assetId.asset._ref) || ''"
    auto="format"
    :q="q"
    :w="w"
    :h="h"
    :fit="fit"
  >
    <template #default="{ src }">
      <img
        v-lazy="src"
        :width="width"
        :height="height"
        :alt="assetId.alt || alt"
        :class="className"
      />
    </template>
  </SanityImage>
</template>

<script>
/* eslint-disable vue/require-prop-types */
export default {
  props: [
    'assetId',
    'className',
    'alt',
    'q',
    'w',
    'h',
    'fit',
    'width',
    'height',
  ],
  // props: {
  //   assetId: {
  //     type: String,
  //     default: '',
  //   },
  //   className: {
  //     type: String,
  //     default: '',
  //   },
  //   alt: {
  //     type: String,
  //     default: 'Marawar',
  //   },
  //   q: {
  //     type: Number,
  //     default: null,
  //   },
  //   w: {
  //     type: Number,
  //     default: null,
  //   },
  //   h: {
  //     type: Number,
  //     default: null,
  //   },
  //   fit: {
  //     type: String,
  //     default: '',
  //   },
  //   width: {
  //     type: Number,
  //     default: null,
  //   },
  //   height: {
  //     type: Number,
  //     default: null,
  //   },
  // },
}
</script>
