<template>
  <div>
    <SanityContent :blocks="blocks" :serializers="serializers" />
  </div>
</template>

<script>
import customQuote from '~/components/serializers/customQuote'
import customSmallQuote from '~/components/serializers/customSmallQuote'
import ImageBlock from '~/components/serializers/ImageBlock'
export default {
  props: {
    blocks: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      container: 'max-w-screen-lg',
      service: 0,
      serializers: {
        styles: {
          blockquote: customQuote,
          smallBlockquote: customSmallQuote,
        },
        types: {
          imageBlock: ImageBlock,
        },
      },
    }
  },
}
</script>
