<template>
  <div id="were" class="w-full md:w-1/2">
    <p class="heading text-m-darkgray text-2xl lg:mt-24 mt-0">
      <span
        class="black"
        data-aos="text-animation"
        data-aos-offset="50"
        data-aos-delay="0"
        >WE'RE</span
      >
      <span
        data-aos="text-animation"
        data-aos-offset="50"
        data-aos-delay="0"
        class="yellow"
        >CONSTRUCTION MANAGERS.
      </span>
      <span
        data-aos="text-animation"
        data-aos-offset="50"
        data-aos-delay="300"
        class="light-yellow"
        >APPRENTICES.
      </span>
      <span
        data-aos="text-animation"
        data-aos-offset="50"
        data-aos-delay="0"
        class="yellow"
        >SUPERVISORS.
      </span>
      <span
        data-aos="text-animation"
        data-aos-offset="50"
        data-aos-delay="300"
        class="light-yellow"
        >PAINTERS.
      </span>
      <span
        data-aos="text-animation"
        data-aos-offset="50"
        data-aos-delay="0"
        class="yellow"
        >ELECTRICIANS.
      </span>
      <span
        data-aos="text-animation"
        data-aos-offset="50"
        data-aos-delay="300"
        class="light-yellow"
        >PLUMBERS.</span
      ><span
        data-aos="text-animation"
        data-aos-offset="50"
        data-aos-delay="0"
        class="yellow"
      >
        CONTRACT ADMINISTRATORS.
      </span>
      <span
        data-aos="text-animation"
        data-aos-offset="50"
        data-aos-delay="300"
        class="light-yellow"
        >CARPENTERS.
      </span>
      <span
        data-aos="text-animation"
        data-aos-offset="50"
        data-aos-delay="0"
        class="yellow"
        >PROJECT MANAGERS.
      </span>
      <span
        data-aos="text-animation"
        data-aos-offset="50"
        data-aos-delay="300"
        class="light-yellow"
        >FABRICATORS.
      </span>
      <span
        data-aos="text-animation"
        data-aos-offset="50"
        data-aos-delay="0"
        class="yellow"
        >SAFETY MANAGERS.
      </span>
      <span
        data-aos="text-animation"
        data-aos-offset="50"
        data-aos-delay="300"
        class="light-yellow"
        >TILERS.
      </span>
      <span
        data-aos="text-animation"
        data-aos-offset="50"
        data-aos-delay="0"
        class="yellow"
        >SITE MANAGERS.
      </span>
      <span
        data-aos="text-animation"
        data-aos-offset="50"
        data-aos-delay="300"
        class="light-yellow"
        >BRICKLAYERS.
      </span>
      <span
        data-aos="text-animation"
        data-aos-offset="50"
        data-aos-delay="0"
        class="yellow"
        >TILERMAKERS.
      </span>
      <span
        data-aos="text-animation"
        data-aos-offset="50"
        data-aos-delay="300"
        class="light-yellow"
      >
        CRANE OPERATORS.
      </span>
      <span
        data-aos="text-animation"
        data-aos-offset="50"
        data-aos-delay="0"
        class="yellow"
        >LANDSCAPERS.
      </span>
      <span
        data-aos="text-animation"
        data-aos-offset="50"
        data-aos-delay="0"
        class="yellow"
        >JOINERS.
      </span>
      <span
        data-aos="text-animation"
        data-aos-offset="50"
        data-aos-delay="0"
        class="yellow"
        >PROCUREMENT MANAGERS.
      </span>
      <span
        data-aos="text-animation"
        data-aos-offset="50"
        data-aos-delay="0"
        class="yellow"
        >CLEANERS.
      </span>
      <span
        data-aos="text-animation"
        data-aos-offset="50"
        data-aos-delay="0"
        class="yellow"
        >HAZARDOUS MATERIALS REMOVERS.
      </span>
      <span
        data-aos="text-animation"
        data-aos-offset="50"
        data-aos-delay="0"
        class="yellow"
        >ROOFERS.
      </span>
      <span
        data-aos="text-animation"
        data-aos-offset="50"
        data-aos-delay="300"
        class="light-yellow"
        >DEVELOPERS.
      </span>
      <span
        data-aos="text-animation"
        data-aos-offset="50"
        data-aos-delay="0"
        class="yellow"
        >CONCRETERS.
      </span>
      <span
        data-aos="text-animation"
        data-aos-offset="50"
        data-aos-delay="300"
        class="light-yellow"
        >EXCAVATORS.
      </span>
      <span
        data-aos="text-animation"
        data-aos-offset="50"
        data-aos-delay="0"
        class="yellow"
        >MAINTENANCE ENGINEEERS.
      </span>
      <span
        data-aos="text-animation"
        data-aos-offset="50"
        data-aos-delay="300"
        class="light-yellow"
        >CEILING INSTALLERS.
      </span>
      <span
        data-aos="text-animation"
        data-aos-offset="50"
        data-aos-delay="0"
        class="yellow"
        >SURVEYORS.
      </span>
      <span
        data-aos="text-animation"
        data-aos-offset="50"
        data-aos-delay="300"
        class="light-yellow"
        >FLOORING INSTALLERS.
      </span>
      <span
        data-aos="text-animation"
        data-aos-offset="50"
        data-aos-delay="0"
        class="yellow"
        >DESIGNERS.
      </span>
      <span
        data-aos="text-animation"
        data-aos-offset="50"
        data-aos-delay="300"
        class="light-yellow"
        >ESTIMATORS.
      </span>
      <span
        data-aos="text-animation"
        data-aos-offset="50"
        data-aos-delay="0"
        class="yellow"
        >MAINTENANCE.
      </span>
      <span
        data-aos="text-animation"
        data-aos-offset="50"
        data-aos-delay="300"
        class="light-yellow"
        >MANAGERS.
      </span>
      <span
        data-aos="text-animation"
        data-aos-offset="50"
        data-aos-delay="0"
        class="yellow"
        >FIELD ENGINEERS.
      </span>
      <span
        data-aos="text-animation"
        data-aos-offset="50"
        data-aos-delay="300"
        class="light-yellow"
        >GLAZIERS.
      </span>
      <span
        data-aos="text-animation"
        data-aos-offset="50"
        data-aos-delay="0"
        class="yellow"
        >INSULATION INSTALLERS.
      </span>
      <span
        data-aos="text-animation"
        data-aos-offset="50"
        data-aos-delay="300"
        class="light-yellow"
        >PLASTERES.
      </span>
      <span
        data-aos="text-animation"
        data-aos-offset="50"
        data-aos-delay="0"
        class="yellow"
        >SCHEDULERS.
      </span>
      <span
        data-aos="text-animation"
        data-aos-offset="50"
        data-aos-delay="300"
        class="light-yellow"
        >WILDERS.
      </span>
      <span
        data-aos="text-animation"
        data-aos-offset="50"
        data-aos-delay="0"
        class="yellow"
        >PIPE FITTERS.
      </span>
      <br />
      <span class="black" data-aos="text-animation" data-aos-offset="50"
        >POSITIVE CHANGE-MAKERS.</span
      >
    </p>
    <!-- <img
              src="/images/were-text.png"
              alt=""
              class="lg:mt-32 mt-0 w-full h-full"
            /> -->
  </div>
</template>

<style lang="scss" scoped>
$light-yellow: #eae1d3;
$yellow: #dacdb6;
$black: #000;

@keyframes animate1 {
  0% {
    color: #eae1d3;
  }
  25% {
    color: #dacdb6;
  }
  50% {
    color: #dacdb6;
  }
  100% {
    color: #eae1d3;
  }
}

@keyframes animate2 {
  0% {
    color: #dacdb6;
  }
  25% {
    color: #eae1d3;
  }
  50% {
    color: #eae1d3;
  }
  100% {
    color: #dacdb6;
  }
}

[data-aos='text-animation'] {
  opacity: 1;
  color: #eae1d3;
  transition-property: transform, color;

  &.aos-animate {
    &.black {
      color: #000;
    }
    &.yellow {
      -webkit-animation-name: animate1; /* Chrome, Safari, Opera */
      animation-name: animate1;
      animation-duration: 1s;
    }
    &.light-yellow {
      -webkit-animation-name: animate2; /* Chrome, Safari, Opera */
      animation-name: animate2;
      animation-duration: 1s;
      color: #dacdb6;
    }
  }
}

// .black,
// .yellow,
// .light-yellow {
//   color: #eae1d3;

//   &.aos-init {
//     color: #eae1d3;
//   }
// }

// .aos-animate {
//   &.black {
//     color: #000;
//   }
//   &.yellow {
//     color: #dacdb6;
//   }
//   &.light-yellow {
//     color: #eae1d3;
//   }
// }
</style>
