<template>
  <div class="px-8">
    <article class="max-w-screen-lg mx-auto bg-white pb-16 pt-24">
      <div class="md:grid md:grid-cols-3 md:gap-12">
        <div v-scroll-reveal.reveal class="md:col-span-2 md:pr-32">
          <slot name="lefttext"></slot>
        </div>
        <div v-scroll-reveal.reveal class="md:col-span-1 mt-10 md:mt-0">
          <slot name="righttext"></slot>
        </div>
      </div>
    </article>
  </div>
</template>
