<template>
  <div class="col-span-1 md:col-span-7">
    <div class="heading text-4xl mt-4 flex flex-wrap">
      <div
        class="black"
        data-aos="fade"
        data-aos-offset="50"
        data-aos-delay="0"
      >
        WE'RE
      </div>
      <div data-aos-offset="50" data-aos-delay="0" class="text-m-beige">
        CONSTRUCTION MANAGERS.
      </div>
      <div data-aos-offset="50" data-aos-delay="300" class="text-m-beige-mid">
        APPRENTICES.
      </div>
      <div data-aos-offset="50" data-aos-delay="0" class="text-m-beige">
        SECURITY PERSONNEL.
      </div>
      <div data-aos-offset="50" data-aos-delay="300" class="text-m-beige-mid">
        CLEANERS.
      </div>
      <div data-aos-offset="50" data-aos-delay="0" class="text-m-beige">
        PROPERTY MANAGERS.
      </div>
      <div data-aos-offset="50" data-aos-delay="300" class="text-m-beige-mid">
        SUPERVISORS.
      </div>
      <div data-aos-offset="50" data-aos-delay="0" class="text-m-beige">
        PAINTERS.
      </div>
      <div data-aos-offset="50" data-aos-delay="300" class="text-m-beige-mid">
        ELECTRICIANS.
      </div>
      <div data-aos-offset="50" data-aos-delay="0" class="text-m-beige">
        PLUMBERS.
      </div>
      <div data-aos-offset="50" data-aos-delay="300" class="text-m-beige-mid">
        CONTRACT ADMINISTRATORS.
      </div>
      <div data-aos-offset="50" data-aos-delay="0" class="text-m-beige">
        CARPENTERS.
      </div>
      <div data-aos-offset="50" data-aos-delay="300" class="text-m-beige-mid">
        PROJECT MANAGERS.
      </div>
      <div data-aos-offset="50" data-aos-delay="0" class="text-m-beige">
        SAFETY MANAGERS.
      </div>
      <div data-aos-offset="50" data-aos-delay="300" class="text-m-beige-mid">
        TILERS.
      </div>
      <div data-aos-offset="50" data-aos-delay="0" class="text-m-beige">
        SITE MANAGERS.
      </div>
      <div data-aos-offset="50" data-aos-delay="300" class="text-m-beige-mid">
        BRICKLAYERS.
      </div>
      <div data-aos-offset="50" data-aos-delay="0" class="text-m-beige">
        TILERMAKERS.
      </div>
      <div data-aos-offset="50" data-aos-delay="0" class="text-m-beige-mid">
        CRANE OPERATORS.
      </div>
      <div data-aos-offset="50" data-aos-delay="0" class="text-m-beige">
        LANDSCAPERS.
      </div>
      <div data-aos-offset="50" data-aos-delay="0" class="text-m-beige-mid">
        JOINERS.
      </div>
      <div data-aos-offset="50" data-aos-delay="0" class="text-m-beige">
        PROCUREMENT MANAGERS.
      </div>
      <div data-aos-offset="50" data-aos-delay="0" class="text-m-beige-mid">
        HAZARDOUS MATERIALS REMOVERS.
      </div>
      <div data-aos-offset="50" data-aos-delay="300" class="text-m-beige">
        ROOFERS.
      </div>
      <div data-aos-offset="50" data-aos-delay="0" class="text-m-beige-mid">
        DEVELOPERS.
      </div>
      <div data-aos-offset="50" data-aos-delay="300" class="text-m-beige">
        CONCRETERS.
      </div>
      <div data-aos-offset="50" data-aos-delay="0" class="text-m-beige-mid">
        EXCAVATORS.
      </div>
      <div data-aos-offset="50" data-aos-delay="300" class="text-m-beige">
        MAINTENANCE ENGINEERS.
      </div>
      <div data-aos-offset="50" data-aos-delay="0" class="text-m-beige-mid">
        CEILING INSTALLERS.
      </div>
      <div data-aos-offset="50" data-aos-delay="300" class="text-m-beige">
        SURVEYORS.
      </div>
      <div data-aos-offset="50" data-aos-delay="0" class="text-m-beige-mid">
        FLOORING INSTALLERS.
      </div>
      <div data-aos-offset="50" data-aos-delay="300" class="text-m-beige">
        DESIGNERS.
      </div>
      <div data-aos-offset="50" data-aos-delay="0" class="text-m-beige-mid">
        ESTIMATORS.
      </div>
      <div data-aos-offset="50" data-aos-delay="300" class="text-m-beige">
        MAINTENANCE.
      </div>
      <div data-aos-offset="50" data-aos-delay="0" class="text-m-beige-mid">
        MANAGERS.
      </div>
      <div data-aos-offset="50" data-aos-delay="300" class="text-m-beige">
        FIELD ENGINEERS.
      </div>
      <div data-aos-offset="50" data-aos-delay="0" class="text-m-beige-mid">
        GLAZIERS.
      </div>
      <div data-aos-offset="50" data-aos-delay="300" class="text-m-beige">
        INSULATION INSTALLERS.
      </div>
      <div data-aos-offset="50" data-aos-delay="0" class="text-m-beige-mid">
        PLASTERERS.
      </div>
      <div data-aos-offset="50" data-aos-delay="300" class="text-m-beige">
        SCHEDULERS.
      </div>
      <div data-aos-offset="50" data-aos-delay="0" class="text-m-beige-mid">
        PIPE FITTERS.
      </div>
      <br />
      <div class="black" data-aos-offset="50">POSITIVE CHANGE-MAKERS.</div>
    </div>
  </div>
</template>

<style scoped>
.text-m-beige-mid,
.black,
.text-m-beige {
  @apply mb-0;

  line-height: 0;
  height: 35px;
  margin-right: 8px;
}
</style>
