<template>
  <div class="rounded-md bg-green-50 p-4 mt-10">
    <div class="flex">
      <div class="flex-shrink-0">
        <i
          class="fas fa-check-circle h-5 w-5 text-green-400"
          aria-hidden="true"
        ></i>
      </div>
      <div class="ml-3">
        <h3 class="text-sm font-medium text-green-800">Submit Success</h3>
        <div class="mt-2 text-sm text-green-400">
          <p>Thank you for your submission.</p>
        </div>
        <!-- <div class="mt-4">
          <div class="-mx-2 -my-1.5 flex">
            <button type="button" class="bg-green-50 px-2 py-1.5 rounded-md text-sm font-medium text-green-800 hover:bg-green-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-green-50 focus:ring-green-600">
              View status
            </button>
            <button type="button" class="ml-3 bg-green-50 px-2 py-1.5 rounded-md text-sm font-medium text-green-800 hover:bg-green-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-green-50 focus:ring-green-600">
              Dismiss
            </button>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</template>
