<template>
  <div class="">
    <!-- map component -->
    <template v-if="showPopup">
      <Transition name="page">
        <div
          class="fixed z-50 inset-0 w-screen h-screen bg-black bg-opacity-60"
          @click="showPopup = false"
        ></div>
      </Transition>
      <Transition name="page">
        <div
          class="fixed z-50 top-1/4 left-1/2 rounded-lg bg-m-beige hero-section acknowledge overflow-hidden"
        >
          <div class="max-w-screen-md mx-auto text-center">
            <LazyHydrate when-visible>
              <GMap
                ref="gMap"
                language="en"
                :cluster="{ options: { styles: clusterStyle } }"
                :center="{ lat: locations[0].lat, lng: locations[0].lng }"
                :options="{ fullscreenControl: false }"
                :zoom="10"
                class="w-1/2 h-96"
                style="width: 700px; height: 400px"
              >
                <GMapMarker
                  v-for="location in locations"
                  :key="location.id"
                  :position="{ lat: location.lat, lng: location.lng }"
                  @click="currentLocation = location"
                >
                  <GMapInfoWindow :options="{ maxWidth: 200 }">
                    <code>
                      lat: {{ location.lat }}, lng: {{ location.lng }}
                    </code>
                  </GMapInfoWindow>
                </GMapMarker>
                <!-- <GMapCircle :options="circleOptions" /> -->
              </GMap>
            </LazyHydrate>
          </div>
        </div>
      </Transition>
    </template>

    <!-- the hero iner -->
    <div class="px-8 lg:px-12 pt-24 md:pt-24 xl:pt-48 pb-44 bg-white">
      <div class="mx-auto max-w-6xl">
        <h1 class="heading text-8xl uppercase leading-big mt-8">
          {{ title }}
        </h1>
        <h2 class="mt-4 mb-32 font-semibold whitespace-pre-line">
          {{ caption }}
        </h2>

        <!-- content -->
        <div class="flex flex-col md:flex-row lg:mt-32 mt-9">
          <div class="md:w-1/4 w-full">
            <!-- <h3 class="heading text-4xl uppercase leading-big">Phone</h3>
            <p
              v-if="$store.state.globalData.globalSettings.phone.office"
              class="mt-4"
            >
              Office:
              <a
                class="hover:underline"
                :href="`tel:${$store.state.globalData.globalSettings.phone.office}`"
                :title="`tel:${$store.state.globalData.globalSettings.phone.office}`"
                >{{ $store.state.globalData.globalSettings.phone.office }}</a
              >
            </p>
            <p
              v-if="$store.state.globalData.globalSettings.phone.emergency"
              class="mt-1"
            >
              After Hours Emergency Response Team:
              <a
                class="hover:underline"
                :href="`tel:${$store.state.globalData.globalSettings.phone.emergency}`"
                :title="`tel:${$store.state.globalData.globalSettings.phone.emergency}`"
                >{{ $store.state.globalData.globalSettings.phone.emergency }}</a
              >
            </p> -->
            <h3 class="heading text-4xl uppercase leading-big mt-8">Email</h3>
            <p v-if="$store.state.globalData.globalSettings.email" class="mt-4">
              <a
                class="hover:underline"
                :href="`mailto:${$store.state.globalData.globalSettings.email}`"
                :title="`mailto:${$store.state.globalData.globalSettings.email}`"
              >
                {{ $store.state.globalData.globalSettings.email }}
              </a>
            </p>
            <!-- <template v-if="$store.state.globalData.globalSettings.address">
              <div
                v-for="addr in $store.state.globalData.globalSettings.address"
                :key="addr._key"
              >
                <h3 class="heading text-4xl uppercase leading-big mt-8">
                  {{ addr.name }}
                </h3>
                <p class="mt-4">{{ addr.location }}</p>
                <p v-if="addr.geopoint" class="mt-1">
                  <a
                    href="#"
                    class="hover:underline"
                    title="show map"
                    @click.prevent="showMap(addr)"
                  >
                    <i class="fas fa-map-marker-alt mr-2"></i> View map and get
                    directions
                  </a>
                </p>
              </div>
            </template> -->
          </div>
          <!-- right -->
          <div class="w-full md:w-3/4 lg:pl-32 md:pl-16 pb-32 mt-16 md:mt-0">
            <h3 class="heading text-4xl uppercase leading-big mt-4 mb-4">
              contact us
            </h3>
            <form
              v-if="!error || !success"
              @submit.prevent="validateBeforeSubmit"
            >
              <div class="grid grid-cols-2 gap-8">
                <label class="block col-span-2">
                  <span class="font-normal">Name</span>
                  <input
                    v-model="form.name"
                    v-validate="'required|alpha_spaces'"
                    name="name"
                    :class="{ input: true, 'is-danger': errors.has('name') }"
                    type="text"
                    class="mt-1 block w-full rounded border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 placeholder-gray-500 placeholder-opacity-50"
                    placeholder="Your full name"
                  />
                </label>

                <label class="block col-span-2 sm:col-span-1">
                  <span class="font-normal">Email</span>
                  <input
                    v-model="form.email"
                    v-validate="'required|email'"
                    name="email"
                    :class="{ input: true, 'is-danger': errors.has('email') }"
                    type="text"
                    class="mt-1 block w-full rounded border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 placeholder-gray-500 placeholder-opacity-50"
                    placeholder="Your email"
                  />
                </label>
                <label class="block col-span-2 sm:col-span-1">
                  <span class="font-normal">Phone</span>
                  <input
                    v-model="form.phone"
                    v-validate="'required|numeric'"
                    name="phone"
                    :class="{ input: true, 'is-danger': errors.has('phone') }"
                    type="text"
                    class="mt-1 block w-full rounded border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 placeholder-gray-500 placeholder-opacity-50"
                    placeholder="Your phone number"
                  />
                </label>
                <label class="block col-span-2">
                  <span class="font-normal">Enquiry Type</span>
                  <select
                    id="enquiry"
                    v-model="form.enquiry"
                    v-validate="'required'"
                    :class="{ input: true, 'is-danger': errors.has('enquiry') }"
                    name="enquiry"
                    class="mt-1 block w-full rounded border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 placeholder-gray-500 placeholder-opacity-50"
                  >
                    <option value="">Please select...</option>
                    <option Value="Maintenance and Minor Works">
                      Maintenance and Minor Works
                    </option>
                    <option Value="Residential and commercial">
                      Residential and commercial
                    </option>
                    <option Value="Civil, industrial and infrastructure">
                      Civil, industrial and infrastructure
                    </option>
                    <option Value="Fit-outs and Refurbishments">
                      Fit-outs and Refurbishments
                    </option>
                    <option Value="Health Services">Health Services</option>
                    <option Value="Health Services">Education</option>
                    <option value="General enquiry">General enquiry</option>
                  </select>
                </label>
                <label for="message" class="block col-span-2">
                  <span class="font-normal">Message</span>
                  <textarea
                    v-model="form.message"
                    v-validate="'required'"
                    name="message"
                    :class="{
                      input: true,
                      'is-danger': errors.has('message'),
                    }"
                    class="mt-1 block w-full rounded border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 placeholder-gray-500 placeholder-opacity-50"
                    cols="30"
                    rows="5"
                    placeholder="Your message"
                  ></textarea>
                </label>
              </div>
              <div class="flex justify-end mt-8">
                <button
                  class="transition duration-200 flex items-center px-8 py-4 flex-shrink-0 rounded-lg font-semibold bg-m-blue text-white"
                  :disabled="loading"
                  :class="loading ? 'disabled:opacity-50' : ''"
                >
                  <div v-show="loading">
                    <i class="fad fa-circle-notch animate-spin mr-3"></i>
                  </div>
                  Send Message
                </button>
              </div>
            </form>
            <transition v-if="error" name="loading">
              <TheError :title="errorMessage" />
            </transition>
            <transition v-if="success" name="loading">
              <TheThankYou />
            </transition>
          </div>
        </div>
        <!-- eof content -->
      </div>
      <!-- mx w 6xl -->
    </div>
  </div>
</template>

<script>
import LazyHydrate from 'vue-lazy-hydration'
// import { sendForm } from 'emailjs-com'
import { groq } from '@nuxtjs/sanity'
const query = groq`
*[_type == "contact"][0]
{
  title,
  caption,
}
`

export default {
  name: 'ContactUs',
  components: {
    LazyHydrate,
  },
  transition: 'page',
  async asyncData({ $sanity }) {
    return await $sanity.fetch(query)
  },
  data() {
    return {
      loading: false,
      success: false,
      error: false,
      errorMessage: '',
      form: {
        name: '',
        email: '',
        phone: null,
        enquiry: '',
        message: '',
      },
      showPopup: false,
      currentLocation: {},
      locations: [],
      endpoint: 'https://studiojs-email-api.vercel.app/api/marawar',
      clusterStyle: [
        {
          url: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m1.png',
          width: 56,
          height: 56,
          textColor: '#fff',
        },
      ],
    }
  },
  head() {
    return {
      title: `${(this.seo && this.seo.pageTitle) || this.$route.name} | ${
        this.$store.state.globalData.globalSettings.title
      }`,
      description: (this.seo && this.seo.metaDesc) || '',
      meta: this.$createSeoMeta({
        title: `${(this.seo && this.seo.shareTitle) || this.$route.name} | ${
          this.$store.state.globalData.globalSettings.title
        }`,
        description: (this.seo && this.seo.metaDesc) || '',
        image: this.$urlFor(this.seo && this.seo.shareGraphic.asset._ref).url(),
        url:
          this.$store.state.globalData.globalSettings.url +
          this.$route.fullPath,
      }),
    }
  },
  mounted() {
    this.$store.commit('setLoading', false)
  },
  methods: {
    showMap(val) {
      this.locations = []

      if (val) {
        const obj = {
          lat: val.geopoint.lat,
          lng: val.geopoint.lng,
        }
        this.locations.push(obj)
      }

      this.showPopup = true
    },
    validateBeforeSubmit() {
      this.$validator.validateAll().then((result) => {
        if (result) {
          this.submitForm()
        }
      })
    },
    async submitForm() {
      this.loading = true
      console.log('sending form')

      // await sendForm(
      //   'service_lh4dfpl',
      //   'template_q210omp',
      //   this.form,
      //   'user_80ONFiznVjIXJ3bNDHNJX'
      // ).then(
      //   function (response) {
      //     this.loading = false
      //     this.success = true
      //     console.log('SUCCESS!', response.status, response.text)
      //   },
      //   function (error) {
      //     this.loading = false
      //     this.errorMessage = error
      //     this.error = true
      //   }
      // )
      await this.$axios
        .post('https://api.emailjs.com/api/v1.0/email/send', {
          service_id: 'service_lh4dfpl',
          template_id: 'template_q210omp',
          template_params: this.form,
          user_id: 'user_80ONFiznVjIXJ3bNDHNJX',
          accessToken: '4db770a1212311152c19d8b8431e9c8b',
        })
        .then((result) => {
          console.log('SUCCESS!', result.status, result.text)
          this.loading = false
          this.success = true
        })
        .catch((err) => {
          this.loading = false
          this.errorMessage = err
          this.error = true
        })

      // const data = this.form
      // await this.$axios
      //   .get(this.endpoint)
      //   .then((result) => {
      //     if (result.success.status === 200) {
      //       this.loading = false
      //       this.success = true
      //       // this.$router.push('thank-you')
      //     }
      //   })
      //   .catch((err) => {
      //     this.loading = false
      //     this.errorMessage = err
      //     this.error = true
      //   })
      await this.$axios
        .post(this.endpoint, this.form)
        .then((result) => {
          console.log(result)
          // if (result === 'ok') {
          //   this.loading = false
          //   this.success = true
          //   // this.$router.push('thank-you')
          // }
        })
        .catch((err) => {
          console.log(err)
        })
      // await this.$axios
      //   .post(this.endpoint, data)
      //   .then((result) => {
      //     if (result.data.ok) {
      //       this.loading = false
      //       this.success = true
      //       // this.$router.push('thank-you')
      //     }
      //   })
      //   .catch((err) => {
      //     this.loading = false
      //     this.errorMessage = err
      //     this.error = true
      //   })
    },
  },
}
</script>

<style lang="scss" scoped>
.is-danger {
  border-color: red;
}
.acknowledge {
  margin-left: -350px;
  // margin-top: calc(-463px / 2);
}
</style>
