<template>
  <div>
    <div v-show="firstLoad || $fetchState.pending">
      <TheLoading />
    </div>
    <!-- acknowledge -->
    <template v-if="showPopup">
      <Transition name="page">
        <div
          class="fixed z-50 inset-0 w-screen h-screen bg-black bg-opacity-60"
          @click="showPopup = false"
        ></div>
      </Transition>
      <Transition name="page">
        <div
          class="absolute md:fixed z-50 top-24 left-0 md:top-1/2 md:left-1/2 mx-6 rounded-lg bg-m-beige hero-section acknowledge"
        >
          <div class="max-w-screen-sm mx-auto p-8 md:p-16 text-center">
            <p class="heading leading-big text-4xl">
              {{ content.popupSection.title }}
            </p>
            <p class="mt-4">
              {{ content.popupSection.content }}
            </p>
            <button
              class="transition duration-200 items-center px-8 py-4 flex-shrink-0 rounded-lg font-bold bg-m-darkgray text-white mt-4"
              @click="acceptPopup"
            >
              {{ content.popupSection.buttonText }}
            </button>
          </div>
        </div>
      </Transition>
    </template>
    <!-- eof acknowledge -->

    <!-- HERO START -->
    <div
      v-if="!firstLoad"
      class="hero-section bg-m-beige-light text-m-darkgray content-padding relative z-20"
    >
      <div
        class="max-w-6xl mx-auto px-8 xl:px-4 pt-0 md:pt-16 xl:pt-28 pb-80 lg:pb-36"
      >
        <div class="flex flex-col lg:flex-row items-start gap-8">
          <div
            v-rellax="{ speed: -2 }"
            class="w-full lg:w-1/3 relative flex flex-col justify-center"
          >
            <h1
              v-scroll-reveal.reveal
              class="heading text-9xl leading-big mt-0 md:mt-16 mb-6 load-hidden"
              v-html="content.hero.title"
            ></h1>
            <h2
              v-scroll-reveal.reveal
              class="leading-normal font-bold load-hidden"
            >
              {{ content.hero.caption }}
            </h2>
            <a
              v-scroll-to="'#section2'"
              href="#"
              title="scroll to section below"
            >
              <svg
                v-scroll-reveal.reveal
                class="hidden lg:block lg:mt-24 load-hidden"
                width="48"
                height="48"
                viewBox="0 0 48 48"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M24 0.75C11.1562 0.75 0.75 11.1562 0.75 24C0.75 36.8438 11.1562 47.25 24 47.25C36.8438 47.25 47.25 36.8438 47.25 24C47.25 11.1562 36.8438 0.75 24 0.75ZM44.25 24C44.25 35.1562 35.1562 44.25 24 44.25C12.8438 44.25 3.75 35.25 3.75 24C3.75 12.9375 12.75 3.75 24 3.75C35.0625 3.75 44.25 12.8438 44.25 24ZM35.5312 23.625L34.875 22.9688C34.4062 22.5 33.75 22.5 33.2812 22.9688L25.5938 31.0312V13.125C25.5938 12.5625 25.0312 12 24.4688 12H23.5312C22.875 12 22.4062 12.5625 22.4062 13.125V31.0312L14.625 22.9688C14.1562 22.5 13.5 22.5 13.0312 22.9688L12.375 23.625C11.9062 24.0938 11.9062 24.75 12.375 25.2188L23.1562 36C23.625 36.4688 24.2812 36.4688 24.75 36L35.5312 25.2188C36 24.75 36 24.0938 35.5312 23.625Z"
                  fill="#385DAE"
                />
              </svg>
            </a>
          </div>
          <div
            v-scroll-reveal.reveal
            class="w-full lg:w-2/3 hero-images px-8 load-hidden"
          >
            <div
              v-if="content.hero && content.hero.gallery"
              class="h-full relative mt-24 lg:mt-0"
            >
              <TheSanityImage
                v-if="content.hero.gallery.images[0]"
                v-rellax="{ speed: -2 }"
                :asset-id="content.hero.gallery.images[0]"
                auto="format"
                class-name="
                      absolute
                      -top-28
                      md:-top-16
                      -left-20
                      lg:left-0
                      w-3/4
                      md:w-9/12
                    "
                q="100"
                w="489"
                h="326"
                fit="scale"
                width="489"
                height="326"
              />
              <TheSanityImage
                v-if="content.hero.gallery.images[1]"
                v-rellax="{ speed: -2 }"
                :asset-id="content.hero.gallery.images[1]"
                auto="format"
                q="100"
                w="326"
                h="489"
                width="326"
                height="489"
                fit="scale"
                class-name="
                      absolute
                      top-16
                      -right-16
                      lg:-right-32
                      w-6/12
                      shadow-xl
                    "
              />
              <TheSanityImage
                v-if="content.hero.gallery.images[2]"
                v-rellax="{ speed: -2 }"
                :asset-id="content.hero.gallery.images[2]"
                auto="format"
                q="100"
                w="326"
                h="489"
                width="326"
                height="489"
                fit="scale"
                class-name="
                      absolute
                      z-20
                      md:-bottom-40
                      lg:-bottom-72
                      xl:-bottom-80
                      left-12
                      sm:left-40
                      lg:left-24
                      w-6/12
                      sm:w-1/3
                      lg:w-6/12
                      shadow-2xl
                    "
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- HERO END -->

    <!-- <TheHomeIntro /> -->

    <div>
      <TheIntroLong2 :data="content.secondPanel" />

      <TheBlueIntro :data="content.thirdPanel" />
    </div>

    <!-- FEATURED PROJECTS START -->
    <div class="featured-section">
      <div class="max-w-6xl mx-auto px-8 xl:px-0 py-32">
        <div
          class="w-full flex flex-col md:flex-row md:items-end justify-start md:justify-between px-4 lg:px-0"
        >
          <div v-scroll-reveal.reveal>
            <h4
              class="heading max-w-md text-7xl md:text-8xl leading-none text-m-darkgray -mb-4"
            >
              Featured
            </h4>
            <h4
              class="heading max-w-md text-7xl md:text-8xl leading-none text-m-darkgray"
            >
              Projects.
            </h4>
          </div>
          <LazyTheButtonText
            v-scroll-reveal.reveal
            link="our-projects"
            title="view all project"
            button-blue
            class="relative -top-2"
            >View all</LazyTheButtonText
          >
        </div>
        <LazyHydrate when-visible>
          <LazyTheProject :limit="6" :featured="true" />
        </LazyHydrate>
      </div>
    </div>
    <!-- FEATURED PROJECTS END -->

    <!-- LATEST NEWS START -->
    <div class="latest-news-section">
      <div class="max-w-6xl mx-auto px-8 xl:px-0 pt-32 pb-32">
        <div
          class="w-full flex flex-col md:flex-row md:items-end justify-start md:justify-between px-4 lg:px-0"
        >
          <div v-scroll-reveal.reveal>
            <h4
              class="heading max-w-md text-7xl md:text-8xl leading-none text-m-darkgray -mb-4"
            >
              Latest
            </h4>
            <h4
              class="heading max-w-md text-7xl md:text-8xl leading-none text-m-darkgray"
            >
              News.
            </h4>
          </div>

          <LazyTheButtonText
            v-scroll-reveal.reveal
            link="news"
            button-light
            title="View all news"
            class="relative -top-2"
            >View all</LazyTheButtonText
          >
        </div>

        <LazyHydrate when-visible>
          <LazyTheNews :limit="3" />
        </LazyHydrate>
      </div>
    </div>
    <!-- LATEST NEWS END -->
  </div>
</template>

<script>
/* eslint-disable no-unused-vars */
// import { TweenMax, TimelineMax } from 'gsap'
// import 'ScrollToPlugin'

import { groq } from '@nuxtjs/sanity'
import LazyHydrate from 'vue-lazy-hydration'

const query = groq`
*[_type == 'home'][0]
  {"content": content{
    hero,
    "secondPanel": secondPanelsSection{
      ...,
      leftLink->{"slug": slug.current},
      rightLink->{"slug": slug.current},
    },
    "thirdPanel": thirdPanelSection{
      ...,
      leftUrl->{"slug": slug.current},
      rightUrl->{"slug": slug.current},
    },
    "popupSection": popupSection{...}
  }
}
`

export default {
  components: {
    LazyHydrate,
  },
  transition: 'page',
  data() {
    return {
      showPopup: false,
      content: {
        hero: {},
        popupSection: {},
        secondPanel: {},
        thirdPanel: {},
      },
      firstLoad: true,
    }
  },
  async fetch() {
    await this.$sanity
      .fetch(query)
      .then((result) => {
        const { content } = result
        this.showPopup =
          this.$cookies.get('acceptance') === true
            ? false
            : content.popupSection.isPopup
        this.content = content
        this.$store.commit('setLoading', false)
      })
      .catch((err) => {
        this.$store.commit('setLoading', false)
        this.$store.commit('setError', err)
      })
  },
  head() {
    const { seo } = this.$store.state.globalData.globalSettings
    return {
      title: `${seo.pageTitle || 'Home'} | ${
        this.$store.state.globalData.globalSettings.title
      }`,
      description: seo.metaDesc || this.content?.hero?.caption,
      meta: this.$createSeoMeta({
        title: `${seo.shareTitle || 'Home'} | ${
          this.$store.state.globalData.globalSettings.title
        }`,
        description:
          seo.shareDesc || seo.metaDesc || this.content?.hero?.caption,
        image: this.$urlFor(seo.shareGraphic).url() || this.hasImage,
        url:
          this.$store.state.globalData.globalSettings.url +
          this.$route.fullPath,
      }),
    }
  },
  computed: {
    hasImage() {
      if (this.content && this.content.hero) {
        return this.$urlFor(
          this.content?.hero?.gallery?.images[0].asset._ref
        ).url()
      }
      return ''
    },
  },
  // beforeCreate() {
  //   console.log('loading', this.content)
  //   this.$store.commit('setLoading', true)
  // },
  mounted() {
    if (this.$route.hash) {
      setTimeout(() => {
        this.$scrollTo(this.$route.hash, 500, { offset: -50 })
      }, 1200)
    }

    // this.$fetch()

    const lastVisitDate = this.$cookies.get('lastVisitDate')

    if (!lastVisitDate) {
      this.$cookies.set('lastVisitDate', new Date(), {
        path: '/',
        maxAge: 60 * 60 * 24 * 30,
      })

      setTimeout(() => {
        this.firstLoad = false
      }, 300)
    } else {
      this.firstLoad = false
    }
  },
  activated() {
    if (this.$fetchState.timestamp <= Date.now() - 60000) {
      this.$fetch()
    }
  },
  methods: {
    acceptPopup() {
      this.$cookies.set('acceptance', true, {
        path: '/',
        maxAge: 60 * 60 * 24 * 7,
      })
      this.showPopup = false
    },
  },
}
</script>

<style lang="scss" scoped>
body {
  position: relative;
}

.acknowledge {
  @screen md {
    margin-left: calc(-640px / 2);
    margin-top: calc(-330px / 2);
  }
}
</style>
