<template>
  <section class="">
    <div
      class="h-screen w-screen flex flex-col items-center justify-center pb-32"
    >
      <img
        src="/logo.svg"
        alt="marawar logo"
        width="300"
        height="300"
        loading="lazy"
        decoding="async"
      />
      <div class="text-center space-y-1 mt-8">
        <p>We are currently down for maintenance.</p>
        <a href="tel:1300 685 685">After hours emergency 1300 685 685</a> <br />
        <a href="mailto:info@marawar.com.au">info@marawar.com.au</a>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Maintenance',
  layout: 'blank',
  // eslint-disable-next-line vue/require-prop-types
  // props: ['error'], // you can set a custom layout for the error page
  mounted() {
    console.log(this.$route.path)
  },
}
</script>
