<template>
  <div>
    <!-- Header Start -->

    <LazyTheHero
      v-if="content && content.hero"
      :props="content.hero"
      :bg="Number(backgroundOption)"
    >
      <h2 v-scroll-reveal.reveal class="text-lg leading-normal font-semibold">
        {{ content.hero.caption }}
      </h2>
      <a v-scroll-to="'#section2'" href="#" title="scroll to section below">
        <svg
          v-scroll-reveal.reveal
          class="hidden lg:block lg:mt-24"
          width="48"
          height="48"
          viewBox="0 0 48 48"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M24 0.75C11.1562 0.75 0.75 11.1562 0.75 24C0.75 36.8438 11.1562 47.25 24 47.25C36.8438 47.25 47.25 36.8438 47.25 24C47.25 11.1562 36.8438 0.75 24 0.75ZM44.25 24C44.25 35.1562 35.1562 44.25 24 44.25C12.8438 44.25 3.75 35.25 3.75 24C3.75 12.9375 12.75 3.75 24 3.75C35.0625 3.75 44.25 12.8438 44.25 24ZM35.5312 23.625L34.875 22.9688C34.4062 22.5 33.75 22.5 33.2812 22.9688L25.5938 31.0312V13.125C25.5938 12.5625 25.0312 12 24.4688 12H23.5312C22.875 12 22.4062 12.5625 22.4062 13.125V31.0312L14.625 22.9688C14.1562 22.5 13.5 22.5 13.0312 22.9688L12.375 23.625C11.9062 24.0938 11.9062 24.75 12.375 25.2188L23.1562 36C23.625 36.4688 24.2812 36.4688 24.75 36L35.5312 25.2188C36 24.75 36 24.0938 35.5312 23.625Z"
            fill="#385DAE"
          />
        </svg>
      </a>
    </LazyTheHero>
    <!-- Header End -->
    <!-- Body Start -->

    <!-- section 2 white bg -->
    <div id="section2" class="px-8 lg:px-12 py-20 lg:py-32">
      <div class="max-w-screen-lg mx-auto md: grid md:grid-cols-2 md:gap-32">
        <div class="md:col-span-1">
          <template v-if="content && content.leftColumn.length">
            <div
              v-for="(item, i) in content.leftColumn"
              :key="item._key"
              v-scroll-reveal.reveal
              class="prose"
              :class="i > 0 ? 'mt-12' : ''"
            >
              <LazyHydrate never>
                <TheSanityContent :blocks="item.content" />
              </LazyHydrate>
            </div>
          </template>
        </div>
        <div class="md:col-span-1">
          <template v-if="content && content.rightColumn.length">
            <div
              v-for="(item, i) in content.rightColumn"
              :key="item._key"
              v-scroll-reveal.reveal
              class="prose"
              :class="i > 0 ? 'mt-12' : ''"
            >
              <LazyHydrate never>
                <TheSanityContent :blocks="item.content" />
              </LazyHydrate>
            </div>
          </template>
        </div>
      </div>
    </div>
    <!-- eof section 2 white bg -->
    <div id="team" class="px-8 lg:px-12 pt-28 pb-16 bg-m-beige-light">
      <div class="max-w-screen-lg mx-auto">
        <h4
          v-scroll-reveal.reveal
          class="heading text-7xl md:text-8xl leading-big w-full"
        >
          management
          <br />
          team.
        </h4>

        <div
          v-scroll-reveal.reveal
          class="grid md:grid-cols-4 grid-cols-1 md:gap-32 gap-8 w-full mt-24"
        >
          <div
            v-for="(team, i) in firstTeam"
            :key="team._id"
            class="text-center profile-wrapper relative cursor-pointer"
            :class="person === i ? 'profile-box' : ''"
            @click="toggleAccordion(i, '#people1')"
          >
            <template v-if="i <= 3">
              <div class="circle relative z-20"></div>
              <div class="circle circle2 relative md:absolute z-10">
                <TheSanityImage
                  v-if="!$store.state.loading"
                  :asset-id="team.image"
                  class="photo-wrapper mx-auto absolute inset-0 w-full h-full object-cover object-center"
                  auto="format"
                  w="148"
                  h="150"
                  q="100"
                  fit="min"
                  width="148"
                  height="150"
                />
              </div>
              <h3 class="mt-3 text-xl font-semibold">{{ team.personsName }}</h3>
              <h4 class="uppercase mt-2 text-xs">
                {{ team.position }}
              </h4>
              <p class="font-sans mt-2 font-semibold">
                About {{ team.personsName | showFirstName }}
                <i
                  class="fal fa-arrow-right ml-2 transform transition-all duration-200 group-hover:translate-x-1"
                ></i>
              </p>
            </template>
          </div>
        </div>
      </div>
    </div>

    <!-- the content -->
    <Transition name="toggleaccordion">
      <div
        id="people1"
        class="px-8 bg-white accordion-wrapper"
        :class="person !== -1 && person <= 3 ? 'opened' : ''"
      >
        <div class="max-w-screen-lg mx-auto md:py-28 py-16">
          <div v-for="(team, i) in firstTeam" :key="team._id">
            <Transition name="service">
              <template v-if="i <= 3">
                <div
                  v-show="person === i"
                  class="grid md:grid-cols-2 grid-cols-1 md:gap-32 gap-8"
                >
                  <div>
                    <h3 class="mb-2 text-xl font-semibold">
                      {{ team.personsName }}
                    </h3>
                    <h4 class="uppercase mb-3 text-xs">
                      {{ team.position }}
                    </h4>
                    <LazyHydrate never>
                      <SanityContent :blocks="team.body" />
                    </LazyHydrate>
                  </div>
                  <div class="text-m-blue mb-7 text-xl">
                    <LazyHydrate never>
                      <SanityContent :blocks="team.quote" />
                    </LazyHydrate>
                  </div>
                </div>
              </template>
            </Transition>
          </div>
        </div>
      </div>
    </Transition>

    <!-- 2nd row -->
    <div class="px-8 lg:px-12 pt-16 pb-16 bg-m-beige-light">
      <div class="max-w-screen-lg mx-auto">
        <div
          v-scroll-reveal.reveal
          class="grid md:grid-cols-4 grid-cols-1 md:gap-32 gap-8 w-full"
        >
          <div
            v-for="(team, i) in secondTeam"
            :key="team._id"
            class="text-center profile-wrapper relative cursor-pointer"
            :class="person === i + 4 ? `profile-box ` : `id-${i + 4}`"
            @click="toggleAccordion2(i, '#people2')"
          >
            <div class="circle relative z-20"></div>
            <div class="circle circle2 relative md:absolute z-10">
              <TheSanityImage
                :asset-id="team.image"
                class="photo-wrapper mx-auto absolute inset-0 w-full h-full object-cover object-center"
                auto="format"
                w="148"
                h="150"
                q="100"
                fit="min"
                width="148"
                height="150"
              />
            </div>
            <h3 class="mt-3 text-xl font-semibold">{{ team.personsName }}</h3>
            <h4 class="uppercase mt-2 text-xs">
              {{ team.position }}
            </h4>
            <p class="font-sans mt-2 font-semibold">
              About {{ team.personsName | showFirstName }}
              <i
                class="fal fa-arrow-right ml-2 transform transition-all duration-200 group-hover:translate-x-1"
              ></i>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- the content -->
    <Transition name="toggleaccordion">
      <div
        id="people2"
        class="px-8 bg-white accordion-wrapper"
        :class="person !== 0 && person >= 4 && person < 8 ? 'opened' : ''"
      >
        <div class="max-w-screen-lg mx-auto py-28">
          <div v-for="(team, i) in secondTeam" :key="team._id">
            <Transition name="service">
              <div
                v-show="person === i + 4"
                class="grid md:grid-cols-2 grid-cols-1 md:gap-32 gap-8"
              >
                <div>
                  <h3 class="mb-2 text-xl font-semibold">
                    {{ team.personsName }}
                  </h3>
                  <h4 class="uppercase mb-3 text-xs">
                    {{ team.position }}
                  </h4>
                  <LazyHydrate never>
                    <SanityContent :blocks="team.body" />
                  </LazyHydrate>
                </div>
                <div class="text-m-blue mb-7 text-xl">
                  <LazyHydrate never>
                    <SanityContent :blocks="team.quote" />
                  </LazyHydrate>
                </div>
              </div>
            </Transition>
          </div>
        </div>
      </div>
    </Transition>

    <!-- 3rd row -->
    <div
      v-if="thirdTeam.length"
      class="px-8 lg:px-12 pt-16 pb-16 bg-m-beige-light"
    >
      <div class="max-w-screen-lg mx-auto">
        <div
          v-scroll-reveal.reveal
          class="grid md:grid-cols-4 grid-cols-1 md:gap-32 gap-8 w-full"
        >
          <div
            v-for="(team, i) in thirdTeam"
            :key="team._id"
            class="text-center profile-wrapper relative cursor-pointer"
            :class="person === i + 8 ? `profile-box ` : `id-${i + 8}`"
            @click="toggleAccordion3(i, '#people3')"
          >
            <div class="circle relative z-20"></div>
            <div class="circle circle2 relative md:absolute z-10">
              <TheSanityImage
                :asset-id="team.image"
                class="photo-wrapper mx-auto absolute inset-0 w-full h-full object-cover object-center"
                auto="format"
                w="148"
                h="150"
                q="100"
                fit="min"
                width="148"
                height="150"
              />
            </div>
            <h3 class="mt-3 text-xl font-semibold">{{ team.personsName }}</h3>
            <h4 class="uppercase mt-2 text-xs">
              {{ team.position }}
            </h4>
            <p class="font-sans mt-2 font-semibold">
              About {{ team.personsName | showFirstName }}
              <i
                class="fal fa-arrow-right ml-2 transform transition-all duration-200 group-hover:translate-x-1"
              ></i>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- 3rd the content -->
    <Transition name="toggleaccordion">
      <div
        id="people3"
        class="px-8 bg-white accordion-wrapper"
        :class="person !== 0 && person >= 8 ? 'opened' : ''"
      >
        <div class="max-w-screen-lg mx-auto py-28">
          <div v-for="(team, i) in thirdTeam" :key="team._id">
            <Transition name="service">
              <div
                v-show="person === i + 8"
                class="grid md:grid-cols-2 grid-cols-1 md:gap-32 gap-8"
              >
                <div>
                  <h3 class="mb-2 text-xl font-semibold">
                    {{ team.personsName }}
                  </h3>
                  <h4 class="uppercase mb-3 text-xs">
                    {{ team.position }}
                  </h4>
                  <LazyHydrate never>
                    <SanityContent :blocks="team.body" />
                  </LazyHydrate>
                </div>
                <div class="text-m-blue mb-7 text-xl">
                  <LazyHydrate never>
                    <SanityContent :blocks="team.quote" />
                  </LazyHydrate>
                </div>
              </div>
            </Transition>
          </div>
        </div>
      </div>
    </Transition>

    <!-- Partnership Programmes Start -->

    <div id="partners" class="px-8 py-20 overflow-hidden">
      <div class="max-w-screen-lg mx-auto">
        <div class="mb-20">
          <h4
            v-scroll-reveal.reveal
            class="heading text-7xl md:text-8xl leading-big"
          >
            Careers <br />
            and Community
          </h4>
        </div>

        <div
          v-if="content.partner.length"
          v-scroll-reveal.reveal
          class="carousel-wrapper hide-wrapper"
        >
          <VueSlickCarousel v-bind="settings">
            <a
              v-for="(project, i) in content.partner"
              :key="i"
              :href="project.url"
              :title="project.url"
              target="_blank"
              class="backface h-48 col-span-1 md:row-span-1 relative transition-all duration-200 transform slide-item flex px-8 cursor-pointer"
              style="width: 309px"
            >
              <TheSanityImage
                :asset-id="project.image"
                class="self-center mx-auto"
                auto="format"
                max-w="309"
                max-h="192"
                q="100"
                fit="min"
                width="auto"
                height="auto"
              />
            </a>

            <template #prevArrow="">
              <div class="middle-arrow prev">
                <i class="fal fa-chevron-left"></i>
              </div>
            </template>
            <template #nextArrow="">
              <div class="middle-arrow next">
                <i class="fal fa-chevron-right"></i>
              </div>
            </template>
          </VueSlickCarousel>
        </div>

        <div class="md:grid md:grid-cols-2 md:gap-32 py-20">
          <div v-scroll-reveal.reveal class="md:col-span-1">
            <LazyHydrate never>
              <SanityContent :blocks="content.textColLeft" />
            </LazyHydrate>
          </div>
          <div v-scroll-reveal.reveal class="md:col-span-1">
            <LazyHydrate never>
              <SanityContent :blocks="content.textColRight" />
            </LazyHydrate>
          </div>
        </div>
      </div>
    </div>
    <!-- Partnership Programmes End -->
    <!-- Body End -->
    <LazyHydrate when-visible>
      <TheCta />
    </LazyHydrate>
  </div>
</template>

<script>
import { groq } from '@nuxtjs/sanity'
import LazyHydrate from 'vue-lazy-hydration'

import VueSlickCarousel from 'vue-slick-carousel'
import 'vue-slick-carousel/dist/vue-slick-carousel.css'

const query = groq`
*[_type == "ourPeople"][0]
{
  backgroundOption,
  "content": content{
    ...,
    teamOrder[]->{
      _id,
      body,
      image,
      personsName,
      position,
      quote,
    }
	},
  seo,
}
`

export default {
  components: { VueSlickCarousel, LazyHydrate },
  filters: {
    showFirstName(value) {
      const firstName = value.split(' ', 1)
      return firstName[0]
    },
  },
  transition: 'page',
  data() {
    return {
      content: {
        hero: {},
        leftColumn: [],
        partner: [],
        partnerImage: {},
        rightColumn: [],
        teamOrder: [],
        textColLeft: [],
        textColRight: [],
      },
      seo: {},
      backgroundOption: '',
      person: -1,
      settings: {
        autoplay: true,
        pauseOnHover: false,
        arrows: true,
        dots: false,
        focusOnSelect: false,
        slidesToShow: 1,
        slidesToScroll: 1,
        touchThreshold: 5,
        infinite: true,
        variableWidth: true,
        rows: 1,
        slidesPerRow: 1,
        initialSlide: 0,
        responsive: [
          {
            breakpoint: 370,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1,
              variableWidth: false,
              infinite: true,
              initialSlide: 1,
              rows: 1,
            },
          },
        ],
      },
    }
  },
  async fetch() {
    this.$store.commit('setLoading', true)
    await this.$sanity
      .fetch(query)
      .then((result) => {
        const { content, seo, backgroundOption } = result
        this.content = content
        this.seo = seo
        this.backgroundOption = backgroundOption
        this.$store.commit('setLoading', false)
      })
      .catch((err) => {
        this.$store.commit('setLoading', false)
        this.$store.commit('setError', err)
      })
  },
  head() {
    return {
      title: `${this.seo.pageTitle || this.content?.hero?.heading} | ${
        this.$store.state.globalData.globalSettings.title
      }`,
      description: this.seo.metaDesc || this.content?.hero?.caption,
      meta: this.$createSeoMeta({
        title: `${this.seo.shareTitle || this.content?.hero?.heading} | ${
          this.$store.state.globalData.globalSettings.title
        }`,
        description: this.seo.metaDesc || this.content?.hero?.caption,
        image:
          this.seo && this.seo.shareGraphic
            ? this.$urlFor(this.seo.shareGraphic.asset._ref).url()
            : this.hasImage,
        url:
          this.$store.state.globalData.globalSettings.url +
          this.$route.fullPath,
      }),
    }
  },
  computed: {
    hasImage() {
      if (this.content?.hero?.mainImage !== '') {
        return this.$urlFor(this.content?.hero?.mainImage?.asset._ref).url()
      }
      return ''
    },
    firstTeam() {
      const ft = []
      this.content.teamOrder.map((v, i) => {
        if (i <= 3) ft.push(v)
        return false
      })
      return ft
    },
    secondTeam() {
      const ft = []
      this.content.teamOrder.map((v, i) => {
        if (i >= 4 && i <= 7) ft.push(v)
        return false
      })
      return ft
    },
    thirdTeam() {
      const ft = []
      this.content.teamOrder.map((v, i) => {
        if (i >= 8) ft.push(v)
        return false
      })
      return ft
    },
  },
  mounted() {
    if (this.$route.hash) {
      setTimeout(() => {
        this.$scrollTo(this.$route.hash, 500, { offset: -50 })
      }, 1200)
    }
    this.$fetch()
  },

  activated() {
    if (this.$fetchState.timestamp <= Date.now() - 60000) {
      this.$fetch()
    }
  },
  methods: {
    toggleAccordion(val, container) {
      if (this.person === val) this.person = -1
      else this.person = val

      const options = {
        offset: -450,
      }

      setTimeout(() => {
        this.$scrollTo(container, 500, options)
      }, 1200)
    },
    toggleAccordion2(val, container) {
      if (this.person === val + 4) this.person = -1
      else this.person = val + 4

      const options = {
        offset: -450,
      }

      setTimeout(() => {
        this.$scrollTo(container, 500, options)
      }, 1200)
    },
    toggleAccordion3(val, container) {
      if (this.person === val + 8) this.person = -1
      else this.person = val + 8

      const options = {
        offset: -450,
      }

      setTimeout(() => {
        this.$scrollTo(container, 500, options)
      }, 1200)
    },
  },
}
</script>
<style lang="scss" scoped>
.photo-wrapper {
  // filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}

.photo-clip {
  clip-path: polygon(
    50% 0%,
    83% 12%,
    96% 31%,
    94% 57%,
    90% 78%,
    69% 97%,
    36% 97%,
    11% 78%,
    0% 43%,
    17% 12%
  );
  -webkit-clip-path: polygon(
    50% 0%,
    83% 12%,
    96% 31%,
    94% 57%,
    90% 78%,
    69% 97%,
    36% 97%,
    11% 78%,
    0% 43%,
    17% 12%
  );
}

.profile-wrapper {
  height: 268px;
}
.profile-box {
  @apply relative;

  &::before {
    content: '';
    position: absolute;
    bottom: -84px;
    left: calc(50% - 23px);
    width: 37px;
    height: 37px;
    background: #fff;
    transform: rotate(-45deg);
  }
}
.backface {
  display: flex !important;
}

.accordion-wrapper {
  height: 0;
  transition: all 0.65s cubic-bezier(0.69, 0, 0.26, 1.05);

  &.opened {
    height: 480px;
  }
}

.circle {
  width: 148px;
  height: 150px;
  border: solid 0 #555;
  background-color: transparent;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  border-radius: 100px;
  top: 0;
  left: 0;

  @apply mx-auto;

  @screen md {
    @apply mx-0;
  }
}

.circle2 {
  margin-top: -150px;

  @screen md {
    margin-top: 0;
  }
}
</style>
