<template>
  <div>
    <!-- Header Start -->
    <TheHero :props="content.hero" :bg="Number(backgroundOption)">
      <h2 v-scroll-reveal.reveal class="text-lg leading-normal font-semibold">
        {{ content.hero.caption }}
      </h2>
      <a v-scroll-to="'#section2'" href="#" title="scroll to section below">
        <svg
          v-scroll-reveal.reveal
          class="hidden lg:block lg:mt-24"
          width="48"
          height="48"
          viewBox="0 0 48 48"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M24 0.75C11.1562 0.75 0.75 11.1562 0.75 24C0.75 36.8438 11.1562 47.25 24 47.25C36.8438 47.25 47.25 36.8438 47.25 24C47.25 11.1562 36.8438 0.75 24 0.75ZM44.25 24C44.25 35.1562 35.1562 44.25 24 44.25C12.8438 44.25 3.75 35.25 3.75 24C3.75 12.9375 12.75 3.75 24 3.75C35.0625 3.75 44.25 12.8438 44.25 24ZM35.5312 23.625L34.875 22.9688C34.4062 22.5 33.75 22.5 33.2812 22.9688L25.5938 31.0312V13.125C25.5938 12.5625 25.0312 12 24.4688 12H23.5312C22.875 12 22.4062 12.5625 22.4062 13.125V31.0312L14.625 22.9688C14.1562 22.5 13.5 22.5 13.0312 22.9688L12.375 23.625C11.9062 24.0938 11.9062 24.75 12.375 25.2188L23.1562 36C23.625 36.4688 24.2812 36.4688 24.75 36L35.5312 25.2188C36 24.75 36 24.0938 35.5312 23.625Z"
            fill="#385DAE"
          />
        </svg>
      </a>
    </TheHero>
    <!-- Header End -->
    <!-- Body Start -->

    <!-- section 2 white bg -->
    <div id="section2">
      <div
        :class="container"
        class="mx-auto bg-white pt-56 lg:pt-32 pb-32 px-8 xl:px-0"
      >
        <div
          class="text-m-darkgray flex flex-col md:flex-row items-start justify-start gap-16"
        >
          <div v-scroll-reveal.reveal class="w-full md:w-1/2 prose">
            <LazyHydrate never>
              <TheSanityContent :blocks="content.secondLeftContent" />
            </LazyHydrate>
          </div>
          <div id="were" v-scroll-reveal.reveal class="w-full md:w-1/2 prose">
            <LazyHydrate never>
              <TheSanityContent :blocks="content.blockQuote.content" />
            </LazyHydrate>
          </div>
        </div>
      </div>
    </div>
    <!-- eof section 2 white bg -->

    <!-- section 3 -->
    <div
      id="section3"
      class="px-8 lg:px-12 py-20 lg:py-32 intro-service bg-m-blue relative z-10"
    >
      <div class="max-w-screen-lg mx-auto md: grid md:grid-cols-2 md:gap-32">
        <div class="md:col-span-1">
          <template v-if="content && content.secondLeftBody.length">
            <div
              v-for="(item, i) in content.secondLeftBody"
              :key="item._key"
              v-scroll-reveal.reveal
              class="prose text-white"
              :class="i > 0 ? 'mt-12' : ''"
            >
              <LazyHydrate never>
                <SanityContent :blocks="item.content" />
              </LazyHydrate>
            </div>
          </template>
        </div>
        <div class="md:col-span-1 mt-24">
          <template v-if="content && content.secondRightBody.length">
            <div
              v-for="(item, i) in content.secondRightBody"
              :key="item._key + i"
              v-scroll-reveal.reveal
              class="prose mt-12 text-white"
            >
              <LazyHydrate never>
                <SanityContent :blocks="item.content" />
              </LazyHydrate>
            </div>
          </template>
        </div>
      </div>
    </div>
    <!-- eof section 3 -->
    <!-- testimonial -->
    <div v-if="content.testimonial" class="featured-section relative">
      <div
        v-if="content.testimonialImage.hasOwnProperty('asset')"
        v-scroll-reveal.reveal="{ origin: 'left' }"
        class="founder-side-image absolute bottom-0 right-0 md:-left-8 bg-white z-20"
      >
        <TheSanityImage
          :asset-id="content.testimonialImage"
          class="w-full h-full absolute inset-0 object-cover object-center"
          auto="format"
          w="680"
          h="800"
          q="100"
          fit="min"
          width="680"
          height="800"
        />
      </div>
      <div :class="container" class="mx-auto px-8 xl:px-0 py-32">
        <div class="flex flex-col md:flex-row items-start justify-start gap-16">
          <div
            class="hidden w-full md:w-1/2 panel md:flex items-start justify-start"
          ></div>
          <div class="w-full md:w-1/2 panel text-m-darkgray relative z-20">
            <div v-scroll-reveal.reveal>
              <TheSanityImage
                v-if="content.testimonial.mainImage"
                :asset-id="content.testimonial.mainImage"
                class="w-36 mb-6"
                auto="format"
                w="144"
                h="146"
                q="100"
                fit="min"
                width="144"
                height="146"
              />
              <h4 class="text-xl font-bold mb-2">
                {{ content.testimonial.personsName }}
              </h4>
              <p class="text-sm uppercase mb-8">
                {{ content.testimonial.position }}
              </p>
              <div class="text-xl text-m-blue">
                <SanityContent :blocks="content.testimonial.body" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- eof testimonial -->
    <LazyHydrate when-visible>
      <TheCta />
    </LazyHydrate>
  </div>
</template>

<script>
import { groq } from '@nuxtjs/sanity'
import LazyHydrate from 'vue-lazy-hydration'

const query = groq`
*[_type == "ourImpact"][0]
{
  backgroundOption,
  "content": content{
    ...,
    testimonial->
	},
  seo,
}
`

export default {
  components: { LazyHydrate },
  transition: 'page',
  data() {
    return {
      container: 'max-w-screen-lg',
      content: {
        blockQuote: {},
        hero: {},
        leftContent: [],
        secondLeftBody: [],
        secondLeftContent: [],
        secondRightBody: [],
        testimonial: {},
        testimonialImage: {},
      },
      seo: {},
      backgroundOption: '',
    }
  },
  async fetch() {
    this.$store.commit('setLoading', true)
    await this.$sanity
      .fetch(query)
      .then((result) => {
        const { content, seo, backgroundOption } = result
        this.content = content
        this.seo = seo
        this.backgroundOption = backgroundOption
        this.$store.commit('setLoading', false)
      })
      .catch((err) => {
        this.$store.commit('setLoading', false)
        this.$store.commit('setError', err)
      })
  },
  head() {
    return {
      title: `${this.seo.pageTitle || this.content?.hero?.heading} | ${
        this.$store.state.globalData.globalSettings.title
      }`,
      description: this.seo.metaDesc || this.content?.hero?.caption,
      meta: this.$createSeoMeta({
        title: `${this.seo.shareTitle || this.content?.hero?.heading} | ${
          this.$store.state.globalData.globalSettings.title
        }`,
        description: this.seo.metaDesc || this.content?.hero?.caption,
        image:
          this.seo && this.seo.shareGraphic
            ? this.$urlFor(this.seo.shareGraphic.asset._ref).url()
            : this.hasImage,
        url:
          this.$store.state.globalData.globalSettings.url +
          this.$route.fullPath,
      }),
    }
  },
  computed: {
    hasImage() {
      if (this.content?.hero?.mainImage !== '') {
        return this.$urlFor(this.content?.hero?.mainImage?.asset?._ref).url()
      }
      return ''
    },
  },
  // mounted() {
  //   this.$fetch()
  // },
  activated() {
    if (this.$fetchState.timestamp <= Date.now() - 60000) {
      this.$fetch()
    }
  },
}
</script>
