<template>
  <div class="">
    <!-- the hero iner -->
    <div class="px-8 lg:px-12 pt-24 md:pt-24 xl:pt-48 pb-44 bg-white">
      <div class="mx-auto max-w-6xl">
        <h1 class="heading text-8xl uppercase leading-big mt-8">
          {{ title }}
        </h1>

        <!-- content -->
        <div class="flex flex-col md:flex-row lg:mt-32 mt-9">
          <div class="md:w-2/4 w-full">
            <LazyHydrate>
              <SanityContent :blocks="content" />
            </LazyHydrate>
          </div>
        </div>
        <!-- eof content -->
      </div>
      <!-- mx w 6xl -->
    </div>
  </div>
</template>

<script>
import LazyHydrate from 'vue-lazy-hydration'
import { groq } from '@nuxtjs/sanity'
const query = groq`
*[_type == "privacyPolicy"][0]
{
  title,
  content,
}
`

export default {
  name: 'ContactUs',
  components: {
    LazyHydrate,
  },
  transition: 'page',
  async asyncData({ $sanity }) {
    return await $sanity.fetch(query)
  },
  data() {
    return {
      loading: false,
      form: {
        name: '',
        email: '',
        phone: null,
        enquiry: '',
        message: '',
      },
      showPopup: false,
      currentLocation: {},
      locations: [],
      clusterStyle: [
        {
          url: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m1.png',
          width: 56,
          height: 56,
          textColor: '#fff',
        },
      ],
    }
  },
  head() {
    return {
      title: `${(this.seo && this.seo.pageTitle) || this.$route.name} | ${
        this.$store.state.globalData.globalSettings.title
      }`,
      description: (this.seo && this.seo.metaDesc) || '',
      meta: this.$createSeoMeta({
        title: `${(this.seo && this.seo.shareTitle) || this.$route.name} | ${
          this.$store.state.globalData.globalSettings.title
        }`,
        description: (this.seo && this.seo.metaDesc) || '',
        image: this.$urlFor(this.seo && this.seo.shareGraphic.asset._ref).url(),
        url:
          this.$store.state.globalData.globalSettings.url +
          this.$route.fullPath,
      }),
    }
  },
  methods: {
    showMap(val) {
      this.locations = []

      if (val) {
        const obj = {
          lat: val.geopoint.lat,
          lng: val.geopoint.lng,
        }
        this.locations.push(obj)
      }

      this.showPopup = true
    },
    validateBeforeSubmit() {
      this.$validator.validateAll().then((result) => {
        if (result) {
          this.submitToServer()
        }
      })
    },

    submitToServer() {
      this.loading = true
      return new Promise((resolve, reject) => {
        fetch(`/.netlify/functions/send-email`, {
          method: 'POST',
          body: JSON.stringify(this.form),
        })
          .then((response) => {
            if (response.status === 200) {
              this.loading = false
              this.$router.push('thank-you')
            }
            resolve(response)
          })
          .catch((err) => {
            this.loading = false
            reject(err)
          })
      })
    },
  },
}
</script>

<style lang="scss" scoped>
.is-danger {
  border-color: red;
}
.acknowledge {
  margin-left: -350px;
  // margin-top: calc(-463px / 2);
}
</style>
