<template>
  <div>
    <div
      class="max-w-screen-lg mx-auto bg-white pt-56 lg:pt-32 pb-32 px-8 xl:px-0"
    >
      <div class="text-m-darkgray lg:gap-16 mb-14 grid grid-cols-2 gap-2">
        <div v-scroll-reveal.reveal class="">
          <h4
            v-scroll-reveal.reveal
            class="heading text-8xl leading-big mt-16 mb-6"
          >
            Viewing <br />
            {{ searchQuery || $route.query.q }}
          </h4>
        </div>
      </div>
      <div class="">
        <label
          for="search"
          class="flex flex-row items-center w-full rounded border border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 placeholder-gray-500 placeholder-opacity-50"
        >
          <i class="fal fa-search mx-3 cursor-pointer" @click="$fetch"></i>
          <input
            v-model="searchQuery"
            placeholder="Search something..."
            name="search"
            type="text"
            class="w-full border-0 rounded pl-0"
          />
          <button
            v-show="searchQuery"
            class="focus:ring-0 p-2"
            @click="searchQuery = ''"
          >
            <i class="fas fa-times-circle mx-3"></i>
          </button>
        </label>
      </div>
      <div
        class="grid grid-cols-1 md:grid-cols-3 md:grid-rows-1 gap-12 my-16 px-4 lg:px-0"
      >
        <div
          v-if="$fetchState.pending"
          class="col-span-3 text-center animate-spin text-2xl"
        >
          <i class="fad fa-spinner-third"></i>
        </div>
        <div
          v-for="(post, i) in search"
          v-else
          :key="i"
          v-scroll-reveal.reveal="{ delay: (i + 1) * 50 }"
          class="col-span-1 md:row-span-1 filter grayscale hover:grayscale-0 transition duration-700 ease-linear"
        >
          <NuxtLink
            :to="`/${
              post.type === 'news'
                ? 'news'
                : `our-projects/${setCatSlug(post.categories)}`
            }/${post.slug.current}`"
            :title="post.title"
            class="block"
          >
            <TheNewsCard :props="post" type-color="black" />
          </NuxtLink>
        </div>
      </div>
    </div>

    <TheBackLink title="back to our projects" link="/our-projects">
      Back to projects
    </TheBackLink>

    <LazyHydrate when-visible>
      <TheCta />
    </LazyHydrate>
  </div>
</template>

<script>
import LazyHydrate from 'vue-lazy-hydration'
// import { debounce } from 'debounce'
import { groq } from '@nuxtjs/sanity'

const query = groq`
*[_type in ["news", "project"]]
  | score(title match $search || body match $search)
  | order(_score desc)
  { _score, "type": _type, categories[]->{"slug": slug.current, title}, title, slug, mainImage }
`

export default {
  components: {
    LazyHydrate,
  },
  // beforeRouteEnter(to, from, next) {
  //   next((vm) => {
  //     console.log('beforeRouteEnter', vm.$route, 'vm.item.name')
  //   })
  // },
  // beforeRouteUpdate(to, from, next) {
  //   console.log('beforeRouteUpdate', this.$route, 'this.item.name')
  //   next()
  // },
  beforeRouteLeave(to, from, next) {
    this.searchQuery = ''
    next()
  },

  transition: 'page',
  data() {
    return {
      search: [],
      searchQuery: '',
    }
  },
  async fetch() {
    this.search = await this.$sanity.fetch(query, {
      search: this.searchQuery,
    })
  },
  fetchDelay: 1000,
  head() {
    return {
      title: `${(this.seo && this.seo.pageTitle) || this.$route.name} - ${
        this.searchQuery
      } | ${this.$store.state.globalData.globalSettings.title}`,
      description: (this.seo && this.seo.metaDesc) || '',
      meta: this.$createSeoMeta({
        title: `${(this.seo && this.seo.shareTitle) || this.$route.name} - ${
          this.searchQuery
        } | ${this.$store.state.globalData.globalSettings.title}`,
        description: (this.seo && this.seo.metaDesc) || '',
        image: this.$urlFor(this.seo && this.seo.shareGraphic.asset._ref).url(),
        url:
          this.$store.state.globalData.globalSettings.url +
          this.$route.fullPath,
      }),
    }
  },
  watch: {
    '$route.query': '$fetch',
    searchQuery(oldValue, newValue) {
      console.log(oldValue, newValue)
      setTimeout(() => {
        if (oldValue !== '') {
          this.$fetch()
        }
      }, 2000)

      // debounce(this.$fetch(newValue), 4000)
    },
  },
  mounted() {
    this.searchQuery = this.$route.query.q
    this.$fetch()
  },
  methods: {
    setCatSlug(cat) {
      if (cat !== null) {
        return cat[0].slug
      } else if (cat === null) return 'uncategorized'
    },
  },
}
</script>

<style scoped>
body {
  position: relative;
}
</style>
