<template>
  <div>
    <!-- HERO START -->

    <section
      class="hero-section max-h-840 pt-20 md:pt-40 bg-m-beige-light lg:relative overflow-hidden pb-20 lg:pb-10"
    >
      <VueSlickCarousel v-if="projects.length > 0" v-bind="settings">
        <div v-for="item in projects" :key="item._id" class="slide-wrapper">
          <LazyTheHeroSlider
            :props="item"
            :bg="2"
            :parent-route="`${$nuxt.$route.path}/${
              item.categories !== null
                ? item.categories[0].slug
                : 'uncategorized'
            }`"
          >
            <div
              v-if="item.client"
              class="flex border-b-1 border-black border-opacity-10 py-3"
            >
              <div class="w-32 font-semibold">Client</div>
              <div class="font-normal flex-grow">
                {{ item.client }}
              </div>
            </div>
            <div
              v-if="item.timeframe"
              class="flex border-b-1 border-black border-opacity-10 py-3"
            >
              <div class="w-32 font-semibold">Timeframe</div>
              <div class="font-normal flex-grow">{{ item.timeframe }}</div>
            </div>
            <!-- <div
                v-if="item.value"
                class="flex border-b-1 border-black border-opacity-10 py-3"
              >
                <div class="w-32 font-semibold">Value</div>
                <div class="font-normal flex-grow">{{ item.value }}</div>
              </div> -->
            <div
              v-if="item.location"
              class="flex border-b-1 border-black border-opacity-10 py-3"
            >
              <div class="w-32 font-semibold">Location</div>
              <div class="font-normal flex-grow">{{ item.location }}</div>
            </div>
          </LazyTheHeroSlider>
        </div>
      </VueSlickCarousel>
    </section>

    <!-- HERO END -->

    <div
      class="max-w-screen-lg mx-auto bg-white pt-56 lg:pt-32 pb-32 px-8 xl:px-0"
    >
      <div
        class="w-full flex flex-col md:flex-row md:items-end justify-start md:justify-between px-4 lg:px-0 relative"
      >
        <div v-scroll-reveal.reveal>
          <h2 class="heading text-7xl md:text-8xl leading-big mt-16 mb-6">
            all <br />
            projects.
          </h2>
        </div>
        <div class="relative md:-top-8" @mouseleave="isVisible = false">
          <div
            v-scroll-reveal.reveal
            name="filter project"
            class="text-lg text-m-blue focus:ring-0 cursor-pointer"
            @click="isVisible = !isVisible"
            @mouseover="isVisible = true"
          >
            Filter projects <i class="fal fa-arrow-right ml-2"></i>
          </div>
          <transition
            enter-active-class="transition duration-300 ease-out transform"
            enter-class="-translate-y-3 scale-95 opacity-0"
            enter-to-class="translate-y-0 scale-100 opacity-100"
            leave-active-class="transition duration-150 ease-in transform"
            leave-class="translate-y-0 opacity-100"
            leave-to-class="-translate-y-3 opacity-0"
          >
            <div
              v-show="isVisible"
              class="absolute pt-2 md:-left-full left-0 z-50"
            >
              <div
                class="relative p-4 bg-white border border-gray-200 rounded-md shadow-xl w-72 text-left"
              >
                <div class="relative">
                  <div
                    class="block w-full px-3 py-3 border-b-1 border-black border-opacity-10 font-medium text-gray whitespace-no-wrap hover:bg-m-beige-light focus:outline-none hover:text-gray-900 focus:text-gray-900 focus:shadow-outline transition duration-300 ease-in-out cursor-pointer"
                    @click="filterCategory(null)"
                  >
                    All Projects
                  </div>
                  <div
                    v-for="(cat, i) in category"
                    :key="cat._key"
                    class="block w-full px-3 py-3 border-black border-opacity-10 font-medium text-gray whitespace-no-wrap hover:bg-m-beige-light focus:outline-none hover:text-gray-900 focus:text-gray-900 focus:shadow-outline transition duration-300 ease-in-out cursor-pointer"
                    :class="totalCategory === i + 1 ? 'border-0' : 'border-b-1'"
                    @click="filterCategory(cat)"
                  >
                    {{ cat.name }}
                  </div>
                </div>
              </div>
            </div>
          </transition>
        </div>
      </div>

      <section class="projects-list">
        <LazyHydrate when-visible>
          <TheProjectLoadMore :limit="999" :filterslug="catSlug" />
        </LazyHydrate>
      </section>
    </div>

    <LazyHydrate never>
      <TheCta />
    </LazyHydrate>
  </div>
</template>

<script>
import VueSlickCarousel from 'vue-slick-carousel'
import LazyHydrate from 'vue-lazy-hydration'

import { groq } from '@nuxtjs/sanity'
const query = groq`
{
  "projects": *[_type == "project" && defined(publishDate) && defined(featured) && featured == true]
  {
    ...,
    categories[]->{"slug": slug.current, title},
    testimonial->,
    "serviceType" : serviceType->{
      title
    }
  } | order(_updatedAt desc)
}
`

export default {
  components: {
    VueSlickCarousel,
    LazyHydrate,
  },
  transition: 'page',
  data() {
    return {
      projects: [],
      category: [],
      container: 'max-w-screen-lg',
      isVisible: false,
      catSlug: '',
      settings: {
        autoplay: true,
        pauseOnHover: false,
        dots: true,
        arrows: false,
        dotsClass: 'slick-dots hero-dot-class',
        infinite: true,
        speed: 800,
        autoplaySpeed: 5000,
        slidesToShow: 1,
        slidesToScroll: 1,
        centerMode: true,
        adaptiveHeight: false,
        centerPadding: '0px',
        responsive: [
          {
            breakpoint: 640,
            settings: {
              centerPadding: '0px',
              adaptiveHeight: true,
            },
          },
        ],
      },
    }
  },
  async fetch() {
    this.$store.commit('setLoading', true)

    await this.$sanity
      .fetch(query)
      .then((result) => {
        const { projects } = result
        this.projects = projects
        // this.category = categories
        this.$store.commit('setLoading', false)
      })
      .catch((err) => {
        this.$store.commit('setLoading', false)
        this.$store.commit('setError', err)
      })
  },

  head() {
    return {
      title: `${(this.seo && this.seo.pageTitle) || this.$route.name} | ${
        this.$store.state.globalData.globalSettings.title
      }`,
      description: (this.seo && this.seo.metaDesc) || '',
      meta: this.$createSeoMeta({
        title: `${(this.seo && this.seo.shareTitle) || this.$route.name} | ${
          this.$store.state.globalData.globalSettings.title
        }`,
        description: (this.seo && this.seo.metaDesc) || '',
        image: this.$urlFor(this.seo && this.seo.shareGraphic.asset._ref).url(),
        url:
          this.$store.state.globalData.globalSettings.url +
          this.$route.fullPath,
      }),
    }
  },
  computed: {
    totalCategory() {
      return this.category.length
    },
  },
  mounted() {
    if (this.$route.hash) {
      setTimeout(() => {
        this.$scrollTo(this.$route.hash, 500, { offset: -50 })
      }, 1200)
    }
    // this.$fetch()

    const parentMenu =
      this.$store.state.globalData.mainNavigation.children.find(
        (el) => el.slug === 'capabilities'
      )
    const subMenu = parentMenu.children.filter((el) => el._type === 'menuItem')
    this.category = subMenu
  },
  activated() {
    if (this.$fetchState.timestamp <= Date.now() - 60000) {
      this.$fetch()
    }
  },
  methods: {
    filterCategory(val) {
      this.isVisible = false
      this.catSlug = val !== null ? val.slug : ''
    },
    // closeDropdown(event) {
    //   console.log(event)
    //   if (!this.$el.contains(event.target)) {
    //     this.isVisible = false
    //   }
    // },
  },
}
</script>

<style lang="scss" scoped>
body {
  position: relative;
}

.slick-slide {
  margin-right: 0;
}
</style>
