/* @font-face {
  font-family: 'National';
  src: url('/fonts/National-2-Compressed-Medium.woff') format('woff');
  font-weight: 600;
  font-style: normal;
} */
@font-face {
  font-family: 'Adelle Sans';
  src: url('/fonts/AdelleSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Adelle Sans';
  src: url('/fonts/AdelleSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
