<template>
  <div>
    <!-- Header Start -->
    <LazyHydrate when-idle>
      <LazyTheHeroInner :props="heroData">
        <h2 v-scroll-reveal.reveal class="font-semibold mb-10">
          {{ content.excerpt }}
        </h2>
        <a v-scroll-to="'#section2'" href="#">
          <svg
            v-scroll-reveal.reveal
            class="hidden lg:block lg:mt-24"
            width="48"
            height="48"
            viewBox="0 0 48 48"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M24 0.75C11.1562 0.75 0.75 11.1562 0.75 24C0.75 36.8438 11.1562 47.25 24 47.25C36.8438 47.25 47.25 36.8438 47.25 24C47.25 11.1562 36.8438 0.75 24 0.75ZM44.25 24C44.25 35.1562 35.1562 44.25 24 44.25C12.8438 44.25 3.75 35.25 3.75 24C3.75 12.9375 12.75 3.75 24 3.75C35.0625 3.75 44.25 12.8438 44.25 24ZM35.5312 23.625L34.875 22.9688C34.4062 22.5 33.75 22.5 33.2812 22.9688L25.5938 31.0312V13.125C25.5938 12.5625 25.0312 12 24.4688 12H23.5312C22.875 12 22.4062 12.5625 22.4062 13.125V31.0312L14.625 22.9688C14.1562 22.5 13.5 22.5 13.0312 22.9688L12.375 23.625C11.9062 24.0938 11.9062 24.75 12.375 25.2188L23.1562 36C23.625 36.4688 24.2812 36.4688 24.75 36L35.5312 25.2188C36 24.75 36 24.0938 35.5312 23.625Z"
              fill="#385DAE"
            />
          </svg>
        </a>
      </LazyTheHeroInner>
    </LazyHydrate>

    <!-- Header End -->
    <!-- Body Start -->
    <div id="section2" class="intro-service bg-m-blue text-white relative z-10">
      <LazyHydrate when-visible>
        <TheBoomerang color="text-m-darkgray" class="absolute -top-8 right-0" />
      </LazyHydrate>

      <div class="mx-auto px-8 xl:px-0 md:pt-48 md:pb-64 pt-24 pb-24 max-w-6xl">
        <div class="flex flex-col md:flex-row items-start justify-start gap-16">
          <div
            v-if="content.body"
            class="w-full md:w-1/2 panel flex flex-col prose text-white"
          >
            <LazyHydrate never>
              <SanityContent :blocks="content.body" />
            </LazyHydrate>
          </div>
          <div
            v-if="content.serviceBullets"
            v-scroll-reveal.reveal
            class="w-full md:w-1/2 panel relative md:self-center prose text-white"
          >
            <LazyHydrate never>
              <SanityContent :blocks="content.serviceBullets" />
            </LazyHydrate>
          </div>
        </div>
      </div>
    </div>

    <!-- <template v-if="hasTestimonial">
      <div class="featured-section relative">
        <div
          v-if="testimonialImage.hasOwnProperty('asset')"
          v-scroll-reveal.reveal="{ origin: 'left' }"
          
          
          class="founder-side-image absolute bottom-0 right-0 bg-white z-20"
        >
          <TheSanityImage
            :asset-id="testimonialImage"
            class="w-full h-full absolute inset-0 object-cover object-center"
            auto="format"
            w="680"
            h="800"
            q="100"
            fit="min"
            width="680"
            height="800"
          />
        </div>
        <div class="max-w-6xl mx-auto px-8 xl:px-0 py-32">
          <div
            class="flex flex-col md:flex-row items-start justify-start gap-16"
          >
            <div class="w-full md:w-1/2 panel text-m-darkgray relative z-20">
              <div
                v-scroll-reveal.reveal
              >
                <TheSanityImage
                  :asset-id="testimonial.mainImage"
                  class="w-36 mb-6"
                  auto="format"
                  w="144"
                  h="146"
                  q="100"
                  fit="min"
                  width="144"
                  height="146"
                />
              </div>
              <h3
                v-scroll-reveal.reveal
                
                class="text-xl font-bold mb-2"
              >
                {{ testimonial.personsName }}
              </h3>
              <h4
                v-scroll-reveal.reveal
                
                class="text-sm uppercase mb-8"
              >
                {{ testimonial.position }}
              </h4>
              <div
                v-scroll-reveal.reveal
                
                class="text-xl text-m-blue"
              >
                <LazyHydrate never>
                  <SanityContent :blocks="testimonial.body" />
                </LazyHydrate>
              </div>
            </div>
            <div
              class="
                hidden
                w-full
                md:w-1/2
                panel
                md:flex
                items-start
                justify-start
              "
            ></div>
          </div>
        </div>
      </div>
    </template> -->
    <!-- related projects -->
    <div class="px-8">
      <div class="max-w-screen-lg mx-auto bg-white pt-16 pb-32">
        <div class="text-m-darkgray lg:gap-16 mb-14 grid grid-cols-2 gap-2">
          <div v-scroll-reveal.reveal class="">
            <h3
              v-scroll-reveal.reveal
              class="heading text-7xl md:text-8xl leading-big mt-16 mb-6"
            >
              related <br />
              projects.
            </h3>
          </div>
          <div v-scroll-reveal.reveal class="place-self-end">
            <nuxt-link
              title="Our Projects"
              :to="`/our-projects/${content.slug.current}`"
              class="text-lg text-m-blue"
            >
              View all <i class="fal fa-arrow-right ml-2"></i>
            </nuxt-link>
          </div>
        </div>
        <LazyHydrate when-visible>
          <TheProject
            v-if="content.slug.current"
            :limit="3"
            :categoryslug="[content.slug.current]"
          />
        </LazyHydrate>
      </div>
    </div>
    <!-- eof related projects -->

    <!-- Body End -->
    <LazyHydrate never>
      <LazyTheCta :cta="content.cta" />
    </LazyHydrate>
  </div>
</template>

<script>
import { groq } from '@nuxtjs/sanity'
import LazyHydrate from 'vue-lazy-hydration'

const query = groq`
{
  "content": *[_type == "service" && slug.current == $slug][0]
  {
    ...,
    testimonial->{
      body,
      mainImage,
      personsName,
      position,
    },
    cta{
      ...,
      route->
    }
  }
}
`

export default {
  name: 'CapabilitySlug',
  components: {
    LazyHydrate,
  },
  transition: 'page',
  data() {
    return {
      content: {
        body: [],
        cta: {},
        excerpt: '',
        mainImage: {},
        seo: {},
        serviceBullets: [],
        slug: {},
        summary: '',
        testimonial: {},
        testimonialImage: {},
        title: '',
      },
      seo: {},
      heroData: {},
    }
  },
  // async asyncData({ $sanity, params }) {
  //   return await $sanity.fetch(query, params)
  // },

  async fetch() {
    this.$store.commit('setLoading', true)
    await this.$sanity
      .fetch(query, {
        slug: this.$route.params.slug,
      })
      .then((result) => {
        const { content, seo } = result
        this.content = content
        this.seo = seo

        this.heroData = {
          title: this.content.title,
          mainImage: this.content.mainImage,
        }
        this.$store.commit('setLoading', false)
      })
      .catch((err) => {
        this.$store.commit('setLoading', false)
        this.$store.commit('setError', err)
      })
  },

  head() {
    return {
      title: `${(this.seo && this.seo.pageTitle) || this.content?.title} | ${
        this.$store.state.globalData.globalSettings.title
      }`,
      description: (this.seo && this.seo.metaDesc) || this.content?.excerpt,
      meta: this.$createSeoMeta({
        title: `${(this.seo && this.seo.shareTitle) || this.content?.title} | ${
          this.$store.state.globalData.globalSettings.title
        }`,
        description: (this.seo && this.seo.metaDesc) || this.content?.excerpt,
        image:
          this.seo && this.seo.shareGraphic
            ? this.$urlFor(this.seo.shareGraphic.asset._ref).url()
            : this.hasImage,
        url:
          this.$store.state.globalData.globalSettings.url +
          this.$route.fullPath,
      }),
    }
  },
  computed: {
    hasTestimonial() {
      return this.testimonial !== undefined
    },
    hasImage() {
      if (this.content.hasOwnProperty.call('mainImage', 'asset')) {
        return this.$urlFor(this.content?.mainImage?.asset._ref).url()
      }
      return ''
    },
  },
  // mounted() {
  //   this.$fetch()
  // },
  activated() {
    if (this.$fetchState.timestamp <= Date.now() - 60000) {
      this.$fetch()
    }
  },
}
</script>

<style scoped>
.hero {
  height: 900px;
}
</style>
