<template>
  <div>
    <!-- <LazyTheHero v-else :props="content.hero" :bg="Number(backgroundOption)">
      <h2
        v-scroll-reveal.reveal
        
        class="leading-normal font-semibold"
      >
        {{ content.hero.caption }}
      </h2>
      <a v-scroll-to="'#section2'" href="#" title="scroll to section below">
        <svg
          v-scroll-reveal.reveal
          
          class="hidden lg:block lg:mt-24"
          width="48"
          height="48"
          viewBox="0 0 48 48"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M24 0.75C11.1562 0.75 0.75 11.1562 0.75 24C0.75 36.8438 11.1562 47.25 24 47.25C36.8438 47.25 47.25 36.8438 47.25 24C47.25 11.1562 36.8438 0.75 24 0.75ZM44.25 24C44.25 35.1562 35.1562 44.25 24 44.25C12.8438 44.25 3.75 35.25 3.75 24C3.75 12.9375 12.75 3.75 24 3.75C35.0625 3.75 44.25 12.8438 44.25 24ZM35.5312 23.625L34.875 22.9688C34.4062 22.5 33.75 22.5 33.2812 22.9688L25.5938 31.0312V13.125C25.5938 12.5625 25.0312 12 24.4688 12H23.5312C22.875 12 22.4062 12.5625 22.4062 13.125V31.0312L14.625 22.9688C14.1562 22.5 13.5 22.5 13.0312 22.9688L12.375 23.625C11.9062 24.0938 11.9062 24.75 12.375 25.2188L23.1562 36C23.625 36.4688 24.2812 36.4688 24.75 36L35.5312 25.2188C36 24.75 36 24.0938 35.5312 23.625Z"
            fill="#385DAE"
          />
        </svg>
      </a>
    </LazyTheHero> -->
    <div
      class="hero-section bg-m-beige-light text-m-darkgray content-padding relative z-20"
    >
      <div
        class="max-w-6xl mx-auto px-8 xl:px-4 pt-0 md:pt-16 xl:pt-28 pb-80 lg:pb-36"
      >
        <div class="flex flex-col lg:flex-row items-start gap-8">
          <div
            v-rellax="{ speed: -2 }"
            class="w-full lg:w-1/3 relative flex flex-col justify-center"
          >
            <h1
              v-scroll-reveal.reveal
              class="heading md:text-9xl text-8xl leading-big mt-0 md:mt-16 mb-6"
              v-html="content.hero.title"
            ></h1>
            <h2 v-scroll-reveal.reveal class="leading-normal font-bold">
              {{ content.hero.caption }}
            </h2>
            <a
              v-scroll-to="'#section2'"
              href="#"
              title="scroll to section below"
            >
              <svg
                v-scroll-reveal.reveal
                class="hidden lg:block lg:mt-24"
                width="48"
                height="48"
                viewBox="0 0 48 48"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M24 0.75C11.1562 0.75 0.75 11.1562 0.75 24C0.75 36.8438 11.1562 47.25 24 47.25C36.8438 47.25 47.25 36.8438 47.25 24C47.25 11.1562 36.8438 0.75 24 0.75ZM44.25 24C44.25 35.1562 35.1562 44.25 24 44.25C12.8438 44.25 3.75 35.25 3.75 24C3.75 12.9375 12.75 3.75 24 3.75C35.0625 3.75 44.25 12.8438 44.25 24ZM35.5312 23.625L34.875 22.9688C34.4062 22.5 33.75 22.5 33.2812 22.9688L25.5938 31.0312V13.125C25.5938 12.5625 25.0312 12 24.4688 12H23.5312C22.875 12 22.4062 12.5625 22.4062 13.125V31.0312L14.625 22.9688C14.1562 22.5 13.5 22.5 13.0312 22.9688L12.375 23.625C11.9062 24.0938 11.9062 24.75 12.375 25.2188L23.1562 36C23.625 36.4688 24.2812 36.4688 24.75 36L35.5312 25.2188C36 24.75 36 24.0938 35.5312 23.625Z"
                  fill="#385DAE"
                />
              </svg>
            </a>
          </div>
          <div v-scroll-reveal.reveal class="w-full lg:w-2/3 hero-images px-8">
            <div
              v-if="content && content.hero.gallery"
              class="h-full relative mt-24 lg:mt-0"
            >
              <TheSanityImage
                v-if="content.hero.gallery.images[0]"
                v-rellax="{ speed: -2 }"
                :asset-id="content.hero.gallery.images[0]"
                auto="format"
                class-name="
                      absolute
                      -top-8
                      -left-10
                      md:left-16
                      w-5/12
                      md:w-5/12
                    "
                q="100"
                w="326"
                h="489"
                fit="scale"
                width="326"
                height="489"
              />
              <TheSanityImage
                v-if="content.hero.gallery.images[1]"
                v-rellax="{ speed: -2 }"
                :asset-id="content.hero.gallery.images[1]"
                auto="format"
                q="100"
                w="326"
                h="489"
                width="326"
                height="489"
                fit="scale"
                class-name="
                      absolute
                      -top-8
                      -right-10
                      md:-right-16
                      xl:-right-40
                      w-5/12
                      shadow-xl
                    "
              />
              <TheSanityImage
                v-if="content.hero.gallery.images[2]"
                v-rellax="{ speed: -2 }"
                :asset-id="content.hero.gallery.images[2]"
                auto="format"
                q="100"
                w="326"
                h="489"
                width="326"
                height="489"
                fit="scale"
                class-name="
                      absolute
                      z-20
                      md:top-40
                      left-28
                      md:left-72
                      w-5/12
                      shadow-2xl
                    "
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="section2">
      <div
        :class="container"
        class="mx-auto bg-white pt-56 lg:pt-32 pb-32 px-8 xl:px-0"
      >
        <div
          class="text-m-darkgray flex flex-col md:flex-row items-start justify-start gap-16"
        >
          <div v-scroll-reveal.reveal class="w-full md:w-1/2 prose">
            <LazyHydrate never>
              <TheSanityContent :blocks="content.body.content" />
            </LazyHydrate>
          </div>
          <div id="were" v-scroll-reveal.reveal class="w-full md:w-1/2">
            <h3 class="heading" style="font-size: 6.5rem; line-height: 5.5rem">
              {{ toPlainText(content.blockQuote.content) }}
            </h3>

            <!-- <LazyHydrate never>
              <TheSanityContent :blocks="content.blockQuote.content" />
            </LazyHydrate> -->
          </div>
        </div>
      </div>
    </div>

    <!-- SERVICE LIST START -->
    <div class="intro-service bg-m-blue text-white relative z-10">
      <!-- <TheBoomerang color="text-m-darkgray" class="absolute -top-8 right-0" /> -->

      <div :class="container" class="mx-auto px-8 xl:px-0 pt-48 pb-64">
        <div class="flex flex-col md:flex-row items-start justify-start gap-16">
          <div class="w-full md:w-1/2 panel flex items-start justify-start">
            <!-- <div class="mt-48 mb-16 md:-mt-16 lg:-mt-48 md:mb-0 px-4 lg:px-0"> -->
            <div>
              <ul v-scroll-reveal.reveal>
                <li
                  v-for="(item, i) in content.service"
                  :key="item._id"
                  :class="{ 'service-item-active': service === i }"
                  class="heading cursor-pointer text-4xl flex items-center group mb-6 transition duration-200 opacity-60 hover:opacity-100"
                  @click="service = i"
                  @mouseover="service = i"
                >
                  <h3>{{ item.title }}</h3>
                  <i
                    class="far fa-arrow-right text-lg mt-1 transition-all duration-200 opacity-0 transform -translate-x-2 group-hover:opacity-100 group-hover:translate-x-0 ml-2"
                  ></i>
                </li>
              </ul>
            </div>
          </div>
          <div v-scroll-reveal.reveal class="w-full md:w-1/2 panel relative">
            <div v-for="(item, i) in content.service" :key="item._id">
              <Transition name="service">
                <div
                  v-show="service === i"
                  class="service-item w-full absolute inset-0"
                >
                  <h4>
                    {{ item.summary }}
                  </h4>
                  <TheButtonText
                    class="mt-4"
                    :link="`capabilities/${item.slug.current}`"
                    :title="item.title"
                    button-beige
                    >Read more</TheButtonText
                  >
                </div>
              </Transition>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- SERVICE LIST END -->

    <!-- FOUNDER START -->
    <div
      v-if="!$fetchState.pending && content.testimonial"
      class="featured-section relative"
    >
      <div
        v-if="content.testimonialImage.hasOwnProperty('asset')"
        v-scroll-reveal.reveal="{ origin: 'right' }"
        class="founder-side-image absolute bottom-0 right-0 md:-left-8 bg-white z-20"
      >
        <TheSanityImage
          :asset-id="content.testimonialImage"
          class-name="w-full h-full absolute inset-0 object-cover object-center"
          auto="format"
          w="680"
          h="800"
          q="100"
          fit="min"
          width="680"
          height="800"
        />
      </div>
      <div :class="container" class="mx-auto px-8 xl:px-0 py-32">
        <div class="flex flex-col md:flex-row items-start justify-start gap-16">
          <div
            class="hidden w-full md:w-1/2 panel md:flex items-start justify-start"
          ></div>
          <div class="w-full md:w-1/2 panel text-m-darkgray relative z-20">
            <div v-scroll-reveal.reveal>
              <TheSanityImage
                :asset-id="content.testimonial.mainImage"
                class="w-36 mb-6"
                auto="format"
                w="144"
                h="146"
                q="100"
                fit="min"
                width="144"
                height="146"
              />
              <h4 class="text-xl font-bold mb-2">
                {{ content.testimonial.personsName }}
              </h4>
              <p class="text-sm uppercase mb-8">
                {{ content.testimonial.position }}
              </p>
              <div class="text-xl text-m-blue">
                <SanityContent :blocks="content.testimonial.body" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- FOUNDER END -->

    <!-- Partnership Programmes Start -->

    <div id="partners" class="px-8 py-20 overflow-hidden">
      <div class="max-w-screen-lg mx-auto">
        <div class="mb-20">
          <h4
            v-scroll-reveal.reveal
            class="heading text-7xl md:text-8xl leading-big"
          >
            OUR PARTNERS <br />
            IN BUSINESS.
          </h4>
        </div>

        <div v-scroll-reveal.reveal class="carousel-wrapper hide-wrapper">
          <VueSlickCarousel
            v-if="content && content.partner.length > 0"
            v-bind="settings"
          >
            <a
              v-for="(project, i) in content.partner"
              :key="i"
              :href="project.url"
              :title="project.url"
              target="_blank"
              class="backface h-48 col-span-1 md:row-span-1 relative slide-item flex px-8 cursor-pointer"
              style="width: 309px"
            >
              <TheSanityImage
                :asset-id="project.image"
                class="self-center mx-auto"
                auto="format"
                max-w="309"
                max-h="192"
                q="100"
                fit="min"
                width="auto"
                height="auto"
              />
            </a>

            <template #prevArrow="">
              <div class="middle-arrow prev">
                <i class="fal fa-chevron-left"></i>
              </div>
            </template>
            <template #nextArrow="">
              <div class="middle-arrow next">
                <i class="fal fa-chevron-right"></i>
              </div>
            </template>
          </VueSlickCarousel>
        </div>

        <div class="md:grid md:grid-cols-2 md:gap-32 py-20">
          <div v-scroll-reveal.reveal class="md:col-span-1">
            <LazyHydrate never>
              <SanityContent :blocks="content.textColLeft" />
            </LazyHydrate>
          </div>
          <div v-scroll-reveal.reveal class="md:col-span-1">
            <LazyHydrate never>
              <SanityContent :blocks="content.textColRight" />
            </LazyHydrate>
          </div>
        </div>
      </div>
    </div>
    <!-- Partnership Programmes End -->

    <!-- Safety and Accreditation START -->

    <div id="safety" class="px-8 lg:px-12 py-24 lg:py-32 bg-m-beige-light">
      <div class="max-w-screen-lg mx-auto">
        <div class="md:grid md:grid-cols-2 md:gap-32">
          <div class="md:col-span-1">
            <h4
              v-scroll-reveal.reveal
              class="heading text-7xl md:text-8xl leading-big"
              v-html="content.heading"
            ></h4>
          </div>
          <div
            class="md:col-span-1 flex flex-row justify-around items-center mt-4 md:mt-0"
          >
            <div
              v-for="img in content.logoGallery.images"
              :key="img._key"
              v-scroll-reveal.reveal
            >
              <TheSanityImage
                :asset-id="img"
                class="w-auto h-auto"
                auto="format"
                h="122"
                q="100"
                fit="min"
                width="auto"
                height="122"
              />
            </div>
          </div>
        </div>

        <!-- Two Column Text -->

        <div class="md:grid md:grid-cols-2 md:gap-32 mt-8">
          <div class="md:col-span-1">
            <div v-scroll-reveal.reveal class="prose">
              <TheSanityContent :blocks="content.bodyLeftColumn.content" />
              <TheFileDownload :the-file="content.bodyLeftColumn.fileUpload" />

              <template v-if="content && content.bodyLeftColumn.specifications">
                <div
                  v-for="(item, i) in content.bodyLeftColumn.specifications"
                  :key="item._key"
                  class="flex"
                  :class="i === 0 ? 'mt-8' : 'mt-2'"
                >
                  <div class="w-20">{{ item.title }}:</div>
                  <div>{{ item.code }}</div>
                </div>
              </template>
            </div>
          </div>
          <div class="md:col-span-1">
            <div v-scroll-reveal.reveal class="mt-4 md:mt-0 prose">
              <LazyHydrate never>
                <SanityContent :blocks="content.bodyRightColumn" />
              </LazyHydrate>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Safety and Accreditation END -->

    <!-- CTA START -->
    <TheCta />

    <!-- <LazyHydrate never>
      <TheCta  />
    </LazyHydrate> -->
    <!-- CTA END -->
  </div>
</template>

<script>
// import { TweenMax, TimelineMax } from 'gsap'
// import 'ScrollToPlugin'
// import blocksToHtml from '@sanity/block-content-to-html'
import { groq } from '@nuxtjs/sanity'
import LazyHydrate from 'vue-lazy-hydration'

import VueSlickCarousel from 'vue-slick-carousel'
import 'vue-slick-carousel/dist/vue-slick-carousel.css'

const query = groq`
*[_type == "capability"][0]
{
  backgroundOption,
 "content": content{
    ...,
    "hero": heroGallery,
    service[]->,
    testimonial->,
    partner,
    textColLeft,
    textColRight,
	},
  seo,
}
`

export default {
  name: 'Capabilities',
  components: {
    LazyHydrate,
    VueSlickCarousel,
  },
  transition: 'page',
  data() {
    return {
      container: 'max-w-screen-lg',
      service: 0,
      content: {
        blockQuote: {},
        body: {},
        bodyLeftColumn: {},
        bodyRightColumn: [],
        heading: '',
        hero: {},
        heroGallery: {},
        logoGallery: {},
        partner: [],
        service: [],
        testimonial: {},
        testimonialImage: {},
        textColLeft: [],
        textColRight: [],
      },
      seo: {},
      backgroundOption: '',
      settings: {
        autoplay: true,
        pauseOnHover: false,
        arrows: true,
        dots: false,
        focusOnSelect: false,
        slidesToShow: 1,
        slidesToScroll: 1,
        touchThreshold: 5,
        infinite: true,
        variableWidth: true,
        rows: 1,
        slidesPerRow: 1,
        initialSlide: 0,
        responsive: [
          {
            breakpoint: 370,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1,
              variableWidth: false,
              infinite: true,
              initialSlide: 1,
              rows: 1,
            },
          },
        ],
      },
    }
  },
  async fetch() {
    this.$store.commit('setLoading', true)
    await this.$sanity
      .fetch(query)
      .then((result) => {
        const { content, seo, backgroundOption } = result
        this.content = content
        this.seo = seo
        this.backgroundOption = backgroundOption
        this.$store.commit('setLoading', false)
      })
      .catch((err) => {
        this.$store.commit('setLoading', false)
        this.$store.commit('setError', err)
      })
  },
  head() {
    return {
      title: `${
        (this.seo && this.seo.pageTitle) || this.content?.hero?.title
      } | ${this.$store.state.globalData.globalSettings.title}`,
      description:
        (this.seo && this.seo.metaDesc) || this.content?.hero?.caption,
      meta: this.$createSeoMeta({
        title: `${
          (this.seo && this.seo.shareTitle) || this.content?.hero?.title
        } | ${this.$store.state.globalData.globalSettings.title}`,
        description:
          (this.seo && this.seo.metaDesc) || this.content?.hero?.caption,
        image:
          this.seo && this.seo.shareGraphic
            ? this.$urlFor(this.seo.shareGraphic.asset._ref).url()
            : this.$urlFor(
                this.content?.hero?.gallery?.images[0].asset._ref
              ).url(),
        url:
          this.$store.state.globalData.globalSettings.url +
          this.$route.fullPath,
      }),
    }
  },
  mounted() {
    if (this.$route.hash) {
      setTimeout(() => {
        this.$scrollTo(this.$route.hash, 500, { offset: -50 })
      }, 1200)
    }
  },
  activated() {
    if (this.$fetchState.timestamp <= Date.now() - 60000) {
      this.$fetch()
    }
  },
  methods: {
    toPlainText(blocks = []) {
      return (
        blocks
          // loop through each block
          .map((block) => {
            // if it's not a text block with children,
            // return nothing
            if (block._type !== 'block' || !block.children) {
              return ''
            }
            // loop through the children spans, and join the
            // text strings
            return block.children.map((child) => child.text).join('')
          })
          // join the paragraphs leaving split by two linebreaks
          .join('\n\n')
      )
    },
  },
}
</script>

<style lang="scss" scoped>
body {
  position: relative;
}
.service-item-active {
  i.far {
    opacity: 1;
  }
}
.fileUpload {
  @apply font-semibold;

  text-decoration: none;
}
.backface {
  display: flex !important;
}
</style>
