// @layer base {
//   @font-face {
//     font-family: 'National';
//     src: url('/fonts/National-2-Compressed-Medium.otf')
//       format('opentype');
//     font-weight: 600;
//     font-style: normal;
//   }
//   @font-face {
//     font-family: 'Adelle Sans';
//     src: url('/fonts/AdelleSans-Regular.ttf') format('truetype');
//     font-weight: 400;
//     font-style: normal;
//   }
//   @font-face {
//     font-family: 'Adelle Sans';
//     src: url('/fonts/AdelleSans-Bold.ttf') format('truetype');
//     font-weight: 700;
//     font-style: normal;
//   }
// }
@font-face {
  font-family: 'National';
  src: url('../fonts/National-2-Compressed-Medium.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Adelle Sans';
  src: url('../fonts/AdelleSans-Regular.woff') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Adelle Sans';
  src: url('../fonts/AdelleSans-Bold.woff') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  // font-family: 'Adelle Sans', -apple-system, system-ui, BlinkMacSystemFont,
  //   'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
  //   'Segoe UI Emoji', 'Segoe UI Symbol';

  /* @apply text-m-darkgray text-m-base; */
}

.font-national,
.heading {
  font-family: 'National', sans-serif;
  /* @apply uppercase; */
}

.nav-top {
  height: 52px;
}

.hero-section {
  background: url('/images/bg-hero.png') no-repeat center center;
  background-size: cover;

  &.max-h-840 {
    max-height: 100%;

    @screen lg {
      max-height: 840px;
    }
  }

  &.h-840 {
    height: 100%;

    @screen lg {
      height: 840px;
    }
  }

  &.bg-2 {
    background-image: url('/images/hero-bg-2.jpg');
  }

  .slick-slide {
    /* @apply relative; */
  }
  .slick-list {
    height: calc(840px - 160px);
    overflow: visible !important;
  }
  .slide-wrapper {
    height: 100%;

    @screen lg {
      height: 840px;
    }
  }
}

/* .hero-images {
  min-height: 500px;
} */

@screen md {
  .hero-images {
    /* @apply h-96; */
  }
}

/* .intro-section {
  background: url('/images/bg-intro.png')no-repeat;
  background-position: -300px;
  background-size: cover;
}

@screen md {
  .intro-section {
    background: url('/images/bg-intro.png')no-repeat left top;
    background-size: cover;
  }
} */

.intro2-section {
  background: url('/images/bg-intro2.png') no-repeat center center;
  background-size: cover;
}

.intro-service {
  background: url('/images/bg-intro-service.png') no-repeat center center;
  background-size: cover;
}

.latest-news-section {
  background: url('/images/bg-orange.png') no-repeat center center;
  background-size: cover;
}
.cta-orange {
  background: url('/images/bg-cta-orange.png') no-repeat center center;
  background-size: cover;
}

.inner-header-image {
  width: 250vw;
}

.founder-side-image {
  min-height: 100%;
  width: 40vw;
  opacity: 0.6;
}

@screen md {
  .founder-side-image {
    min-height: 800px;
    width: 40vw;
    opacity: 1;
  }
}

@screen md {
  .panel {
    padding: 0;
  }
}

.service-item-active {
  opacity: 1 !important;
  transform: translateX(0) !important;
}

.service-item-active svg {
  opacity: 1 !important;
  transform: translateX(0) !important;
}

.gradient-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-image: linear-gradient(
    to top,
    rgba(96, 96, 96, 1) 0%,
    rgba(196, 196, 196, 0) 100%
  );
  mix-blend-mode: multiply;
}

.content-padding {
  padding-top: 134px;
}
.index-content-padding {
  /* @apply pt-16; */

  @screen lg {
    padding-top: calc(134px + 4rem);
  }
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}

.service-enter-active,
.service-leave-active {
  transition: all ease 0.3s;
}
.service-enter,
.service-leave-to {
  opacity: 0;
  height: 0;
  transition-delay: 0s;
}
.service-enter-to,
.service-leave {
  opacity: 1;
  height: 255px;
  transition-delay: 1s;
}

.toggleaccordion-enter-active,
.toggleaccordion-leave-active {
  transform-origin: top;
  transition: all 0.65s cubic-bezier(0.69, 0, 0.26, 1.05);
}
.toggleaccordion-enter,
.toggleaccordion-leave-to {
  height: 420px;
}

.loading-enter-active,
.loading-leave-active {
  transition: opacity 0.5s;
}
.loading-enter,
.loading-leave-active {
  opacity: 0;
}

.left-waves {
  position: relative;

  &::after {
    content: '';
    background: url('/images/waves-beige.svg') no-repeat center center;
    position: absolute;
    left: -80px;
    bottom: -60px;
    z-index: 1;
    width: 257px;
    height: 130.28px;
  }
}

// carousel
.carousel-wrapper {
  .slick-track {
    height: 192px;
    overflow: visible;
  }
  .slick-slide {
    /* @apply mr-12; */
  }
  .slick-list {
    overflow: visible !important;
    height: 192px;
  }
  .slide-item {
    width: 309px;
    max-width: 309px;
    margin-right: 48px;
  }

  &.hide-wrapper {
    .slick-list {
      overflow: hidden !important;
    }
  }
}

.hero-dot-class {
  /* @apply relative -bottom-8 mx-auto -mt-12 w-full p-0 text-center list-none h-5; */

  @screen lg {
    /* @apply absolute bottom-7; */
  }

  li {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    margin: 0 4px;
    padding: 0;

    button {
      font-size: 0;
      line-height: 0;
      display: block;
      padding: 5px;
      color: transparent;
      border: 0;
      outline: none;
      background: transparent;
      width: 20px;
      height: 20px;
      cursor: pointer;

      &::before {
        font-family: slick, sans-serif;
        font-size: 50px;
        line-height: 20px;
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        content: '•';
        text-align: center;
        opacity: 1;
        color: #385dae;
        -webkit-font-smoothing: antialiased;
      }
    }

    &.slick-active {
      button {
        &::before {
          color: #fff;
        }
      }
    }
  }
}

// hero carousel

.custom-arrow {
  /* @apply absolute -bottom-12 cursor-pointer hover:bg-m-beige-light hover:text-m-blue text-black transition ease-in duration-200 w-8 h-8 bg-white; */

  padding: 6px 12px;

  &.prev {
    /* @apply left-0; */
  }
  &.next {
    /* @apply left-10; */
  }
}

.header-minheight {
  min-height: auto;

  @screen xl {
    min-height: 800px;
  }
}

.prose {
  &.text-white {
    h2 {
      /* @apply text-white; */
    }
    h3 {
      /* @apply text-white leading-tight; */
    }
  }
  ul > li::before {
    display: none;
  }
}
// middle arrow carousel
.middle-arrow {
  /* @apply absolute cursor-pointer hover:text-m-blue text-m-darkgray text-opacity-40 transition ease-in duration-200 bg-white w-12 h-16 bottom-16 z-10; */

  padding: 6px 12px;
  font-size: 40px;

  &.prev {
    /* @apply left-0; */

    @screen md {
      /* @apply -left-10; */
    }

    @screen xl {
      /* @apply -left-16; */
    }
  }
  &.next {
    /* @apply right-0; */

    @screen md {
      /* @apply -right-10; */
    }

    @screen xl {
      /* @apply -right-16; */
    }
  }
}

// our people
#section2 {
  h4 {
    /* @apply font-semibold; */
  }
  p {
    /* @apply mt-4; */

    &:first-child {
      /* @apply mt-0; */
    }
  }
}

p + p {
  /* @apply mt-4; */
}

.loader {
  border-top-color: #3498db;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

html.sr .load-hidden {
  visibility: hidden;
}
