<template>
  <div class="intro2-section bg-m-blue text-white relative">
    <TheBoomerang
      color="text-m-darkgray"
      class="absolute w-6/12 md:w-auto -top-8 right-0"
    />

    <div class="max-w-screen-lg mx-auto px-8 xl:px-0 py-48">
      <div class="flex flex-col md:flex-row items-start justify-start gap-16">
        <div class="w-full md:w-1/2 panel flex items-center justify-center">
          <div class="left-div">
            <h3
              v-if="data && data.leftHeading"
              class="heading leading-big text-8xl mb-6"
              v-html="data.leftHeading"
            ></h3>
            <h4 class="font-semibold">
              {{ data && data.leftText }}
            </h4>
            <TheButtonText
              v-if="data && data.leftUrl"
              class="mt-4"
              :link="data.leftUrl.slug"
              button-light
            >
              {{ data && data.leftLinkTitle }}
            </TheButtonText>
          </div>
        </div>
        <div
          class="w-full md:w-1/2 panel flex items-center justify-center mt-24"
        >
          <div class="right-div">
            <h3
              v-if="data && data.rightHeading"
              class="heading leading-big text-8xl mb-6"
              v-html="data.rightHeading"
            ></h3>
            <h4 class="font-semibold">
              {{ data && data.rightText }}
            </h4>
            <TheButtonText
              v-if="data && data.rightUrl"
              class="mt-4"
              :link="data.rightUrl.slug"
              button-light
            >
              {{ data && data.rightLinkTitle }}
            </TheButtonText>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import LazyHydrate from 'vue-lazy-hydration'
export default {
  components: {
    // LazyHydrate,
  },
  props: {
    data: {
      type: Object,
      default: () => {},
    },
  },
  mounted() {
    this.$sr.reveal('.right-div', {
      origin: 'right',
      opacity: 0,
      duration: 1400,
      delay: 250,
      scale: 1,
      distance: '60px',
      easing: 'ease-in-out',
      mobile: false,
      viewOffset: {
        top: 150,
      },
    })
    this.$sr.reveal('.left-div', {
      origin: 'left',
      opacity: 0,
      duration: 1400,
      delay: 250,
      scale: 1,
      distance: '60px',
      easing: 'ease-in-out',
      mobile: false,
      viewOffset: {
        top: 150,
      },
    })
  },
}
</script>
