<template>
  <div class="intro2-section bg-m-blue text-white relative">
    <LazyHydrate when-visible>
      <TheBoomerang color="text-m-darkgray" class="absolute -top-8 right-0" />
    </LazyHydrate>

    <div class="max-w-screen-lg mx-auto px-8 xl:px-0 py-80">
      <div class="flex flex-col md:flex-row items-start justify-start gap-16">
        <div
          v-scroll-reveal.reveal
          class="w-full md:w-1/2 panel flex items-center justify-center"
        >
          <!-- <div class="mt-48 mb-16 md:-mt-16 lg:-mt-48 md:mb-0 px-4 lg:px-0"> -->
          <div v-rellax="{ speed: 1 }">
            <h3
              class="heading leading-big text-8xl mb-6"
              v-html="props.leftHeading"
            ></h3>
            <h4 class="font-semibold">
              {{ props && props.leftText }}
            </h4>
            <TheButtonText
              v-if="props && props.leftUrl"
              class="mt-4"
              :link="props.leftUrl.slug"
              button-light
            >
              {{ props && props.leftLinkTitle }}
            </TheButtonText>
          </div>
        </div>
        <div
          v-scroll-reveal.reveal
          class="w-full md:w-1/2 panel flex items-center justify-center"
        >
          <!-- <div class="mb-32 mt-16 md:mt-48 md:mb-0"> -->
          <div v-rellax="{ speed: -1 }">
            <h3
              class="heading leading-big text-8xl mb-6"
              v-html="props.rightHeading"
            ></h3>
            <h4 class="font-semibold">
              {{ props && props.rightText }}
            </h4>
            <TheButtonText
              v-if="props && props.rightUrl"
              class="mt-4"
              :link="props.rightUrl.slug"
              button-light
            >
              {{ props && props.rightLinkTitle }}
            </TheButtonText>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import LazyHydrate from 'vue-lazy-hydration'
export default {
  components: {
    LazyHydrate,
  },
  props: {
    props: {
      type: Object,
      default: () => {},
    },
  },
}
</script>
