<template>
  <div class="intro-section relative">
    <div class="w-full absolute inset-x-0 top-0 h-16"></div>
    <div class="w-1/4 xl:w-1/3 h-full absolute z-0 top-0 left-0">
      <img
        class="w-full h-full object-cover opacity-60"
        src="/images/bg-intro.png"
        alt="Marawar"
        width="634"
      />
    </div>
    <div class="relative z-0">
      <div
        class="flex flex-col md:flex-row items-start justify-start lg:gap-16"
      >
        <div
          class="w-full md:w-1/2 panel flex items-center justify-center absolute mt-0 px-4"
        >
          <div>
            <h3 class="heading text-m-darkgray text-5xl">
              MARAWAR MEANS ‘WEST’ IN NYOONGAR, THE LANGUAGE SPOKEN BY THE
              ABORIGINAL PEOPLES OF THE SOUTH-WEST OF WESTERN AUSTRALIA.
            </h3>

            <TheButtonText
              class="mt-4"
              :link="props && props.leftLink.slug"
              button-dark
            >
              {{ props && props.leftLinkTitle }}
            </TheButtonText>
          </div>
        </div>
        <div
          id="second-p"
          class="w-full md:w-1/2 panel flex items-center justify-center px-4 absolute -mt-0"
        >
          <div class="px-0 md:px-6">
            <h3 class="font-bold text-m-darkgray text-3xl md:pr-6">
              As a Western Australian based building services company, we
              deliver integrated design, construction, civil works and
              maintenance services for commercial and public sector clients
              across WA.
            </h3>
            <TheButtonText
              class="mt-4"
              :link="props && props.rightLink.slug"
              button-dark
            >
              {{ props && props.rightLinkTitle }}
            </TheButtonText>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
