<template>
  <!-- INTRO START -->
  <div class="intro-section relative">
    <div id="trigger-first" class="w-full absolute inset-x-0 top-0 h-16"></div>
    <div class="w-1/4 xl:w-1/3 h-full absolute z-0 top-0 left-0">
      <img
        class="w-full h-full object-cover opacity-60"
        src="/images/bg-intro.png"
        alt="Marawar"
        width="634"
        height="1131"
      />
    </div>
    <div id="section2" class="relative z-0">
      <div
        class="flex flex-col md:flex-row items-start justify-start lg:gap-16"
      >
        <div
          id="first-p"
          class="w-full md:w-1/2 panel flex items-center justify-center absolute mt-0 px-4"
        >
          <!-- v-rellax="{ speed: 1 }"  -->
          <div>
            <h3 class="heading text-m-darkgray text-5xl">
              {{ props && props.leftText }}
            </h3>

            <TheButtonText
              class="mt-4"
              :link="props && props.leftLink.slug"
              button-dark
            >
              {{ props && props.leftLinkTitle }}
            </TheButtonText>
          </div>
        </div>
        <div
          id="second-p"
          class="w-full md:w-1/2 panel flex items-center justify-center px-4 absolute -mt-0"
        >
          <div class="px-0 md:px-6">
            <h3 class="font-bold text-m-darkgray text-3xl md:pr-6">
              {{ props && props.rightText }}
            </h3>
            <TheButtonText
              class="mt-4"
              :link="props && props.rightLink.slug"
              button-dark
            >
              {{ props && props.rightLinkTitle }}
            </TheButtonText>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- INTRO END -->
</template>
<script>
// import LazyHydrate from 'vue-lazy-hydration'
export default {
  components: {
    // LazyHydrate,
  },
  props: {
    props: {
      type: Object,
      default: () => {},
    },
  },
  mounted() {
    this.$nextTick(this.pinContainerScene)
  },
  destroyed() {
    // Destroy ScrollMagic when our component is removed from DOM
    this.$ksvuescr.$emit('destroy')
  },
  methods: {
    pinContainerScene() {
      // Create a new Timeline (equivalent to new TimelineMax())
      const tl = new this.$gsap.TimelineMax()
      // tl.append(
      //   TweenMax.from('#first-p', 1, { css: { top: 0 } }),
      //   TweenMax.to('#first-p', 1, { css: { top: 70 } })
      // )
      tl.fromTo(
        `#first-p`,
        1,
        { autoAlpha: 1, bottom: -400 },
        {
          ease: this.$gsap.Linear.easeNone,
          autoAlpha: 0,
          duration: 1,
          bottom: 0,
        }
      )
      tl.fromTo(
        `#second-p`,
        1,
        { autoAlpha: 0, bottom: -50 },
        {
          ease: this.$gsap.Linear.easeNone,
          autoAlpha: 1,
          duration: 1,
          bottom: 100,
        }
      )

      // create scene and set its params
      const scene = new this.$scrollmagic.Scene({
        triggerElement: '#section2',
        triggerHook: 0.5,
        duration: 2000,
        offset: 0,
        reverse: true,
      })
        .setPin('#section2')
        .setTween(tl)

      // Add scene to ScrollMagic controller by emiting an 'addScene' event on vm.$ksvuescr (which is our global event bus)
      this.$ksvuescr.$emit('addScene', 'pinContainerScene', scene)
    },
  },
}
</script>

<style lang="scss" scoped>
.panel {
  right: 0;
}

@screen md {
  .panel {
    right: 6%;
  }
}
</style>
