<template>
  <!-- INTRO START  -->
  <div id="section2" class="intro-section relative">
    <div class="w-1/4 xl:w-1/3 h-full absolute z-0 top-0 left-0">
      <img
        class="w-full h-full object-cover opacity-60"
        src="/images/bg-intro.png"
        alt=""
      />
    </div>
    <div class="max-w-6xl mx-auto px-8 xl:px-0 relative z-0 py-56">
      <div
        class="flex flex-col md:flex-row items-start justify-start lg:gap-16"
      >
        <div
          v-scroll-reveal.reveal
          class="w-full md:w-1/2 panel flex items-center justify-center left-div"
        >
          <!-- v-rellax="{ speed: 1 }"  -->
          <div v-rellax="{ speed: -1 }">
            <h3 class="heading text-m-darkgray text-5xl">
              {{ data && data.leftText }}
            </h3>
            <TheButtonText
              class="mt-6"
              :link="data && data.leftLink.slug"
              button-dark
            >
              {{ data && data.leftLinkTitle }}
            </TheButtonText>
          </div>
        </div>
        <div
          style="margin-top: 200px"
          class="w-full md:w-1/2 panel flex items-center justify-center xl:px-0 right-div"
        >
          <!-- v-rellax="{ speed: -1.5 }" -->
          <div v-rellax="{ speed: -1 }" class="md:px-6">
            <h3 class="font-bold text-m-darkgray text-3xl md:pr-6">
              {{ data && data.rightText }}
            </h3>
            <TheButtonText
              class="mt-6"
              :link="data && data.rightLink.slug"
              button-dark
            >
              {{ data && data.rightLinkTitle }}
            </TheButtonText>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- INTRO END -->
</template>
<script>
export default {
  props: {
    data: {
      type: Object,
      default: () => {},
    },
  },
  mounted() {
    this.$sr.reveal('.right-div', {
      origin: 'right',
      opacity: 0,
      duration: 1400,
      delay: 250,
      scale: 1,
      distance: '60px',
      easing: 'ease-in-out',
      mobile: false,
      viewOffset: {
        top: 150,
      },
    })
    this.$sr.reveal('.left-div', {
      origin: 'left',
      opacity: 0,
      duration: 1400,
      delay: 250,
      scale: 1,
      distance: '60px',
      easing: 'ease-in-out',
      mobile: false,
      viewOffset: {
        top: 150,
      },
    })
  },
}
</script>

<style scoped>
@screen lg {
  .intro {
    height: 200vh;
  }
}
</style>
