<template functional>
  <ul class="mt-4 list-disc list-inside">
    <li>Inbound Marketing</li>
    <li>Persona & Buyer Development</li>
    <li>Content Creation & Management</li>
    <li>Premium Content Development</li>
    <li>Social Networking/Community Engagement</li>
    <li>Social Platform Management</li>
    <li>Optimized Landing Pages & Website Copy</li>
  </ul>
</template>
