<template functional>
  <div>
    <div class="mt-12 aspect-w-9 md:aspect-w-16 aspect-h-9">
      <img :src="props.author.imageUrl" :alt="props.author.alt" />
    </div>
    <p class="mt-6 text-sm md:w-6/12 text-gray-400">
      {{ props.title }}
    </p>
  </div>
</template>
