<template>
  <div>
    <!-- the hero iner -->
    <LazyHydrate when-idle>
      <TheHeroInner v-if="!$fetchState.pending" :props="heroData" />
    </LazyHydrate>
    <TheTwoColumnsText v-if="!$fetchState.pending">
      <template #lefttext="">
        <TheSanityContent :blocks="content.body" />
      </template>
      <template #righttext="">
        <TheRelatedNews />
      </template>
    </TheTwoColumnsText>

    <TheBackLink title="news" link="/news"> Back to news </TheBackLink>

    <LazyHydrate when-visible>
      <TheCta />
    </LazyHydrate>
  </div>
</template>

<script>
import { groq } from '@nuxtjs/sanity'
import LazyHydrate from 'vue-lazy-hydration'

const dayjs = require('dayjs')
const advancedFormat = require('dayjs/plugin/advancedFormat')
dayjs.extend(advancedFormat)

const query = groq`
{
  "content" : *[_type == "news" && defined(publishDate) && slug.current == $slug ][0]
  {
    body[]{
    ...,
    _type == 'imageBlock' => {
    title,
    author{
    	alt,
      caption,
    	"imageUrl": coalesce(asset->url+'?w=1200&h=600&q=100', ''),
	  	}
	  },
  },
    mainImage,
    publishDate,
    seo,
    slug,
    title,
  }
}
`

export default {
  components: {
    LazyHydrate,
  },
  transition: 'page',
  data() {
    return {
      content: {},
      seo: {},
      heroData: {},
    }
  },

  async fetch() {
    this.$store.commit('setLoading', true)
    await this.$sanity
      .fetch(query, {
        slug: this.$route.params.slug,
      })
      .then((result) => {
        const { content, seo } = result
        this.content = content
        this.seo = seo

        this.heroData = {
          title: this.content.title,
          mainImage: this.content.mainImage,
          publishDate: dayjs(this.content.publishDate).format('Do MMM YYYY'),
        }
        this.$store.commit('setLoading', false)
      })
      .catch((err) => {
        this.$store.commit('setLoading', false)
        this.$store.commit('setError', err)
      })
  },
  head() {
    return {
      title: `${(this.seo && this.seo.pageTitle) || this.content.title} | ${
        this.$store.state.globalData.globalSettings.title
      }`,
      description: (this.seo && this.seo.metaDesc) || '',
      meta: this.$createSeoMeta({
        title: `${(this.seo && this.seo.shareTitle) || this.content.title} | ${
          this.$store.state.globalData.globalSettings.title
        }`,
        description: (this.seo && this.seo.metaDesc) || '',
        image:
          this.seo && this.seo.shareGraphic
            ? this.$urlFor(this.seo.shareGraphic.asset._ref).url()
            : this.$urlFor(this.content.mainImage.asset._ref).url(),
        url:
          this.$store.state.globalData.globalSettings.url +
          this.$route.fullPath,
      }),
    }
  },
  mounted() {
    this.$fetch()
  },
  activated() {
    if (this.$fetchState.timestamp <= Date.now() - 60000) {
      this.$fetch()
    }
  },
}
</script>
