<template>
  <div>
    <!-- HERO START -->
    <section
      v-scroll-reveal.reveal
      class="hero-section max-h-840 pt-20 md:pt-40 bg-m-beige-light lg:relative overflow-hidden"
    >
      <VueSlickCarousel v-if="news.length > 0" v-bind="settings">
        <div v-for="item in news" :key="item._id" style="height: 840px">
          <LazyTheHeroSlider :props="item" :parent-route="$nuxt.$route.path">
            <h2 class="font-semibold mb-3">
              {{ item.publishDate | dateFormatted }}
            </h2>

            <h3 v-if="item.excerpt" class="leading-normal">
              {{ item.excerpt }}
            </h3>
          </LazyTheHeroSlider>
        </div>
      </VueSlickCarousel>
    </section>

    <div
      class="max-w-screen-lg mx-auto bg-white pt-56 lg:pt-32 pb-32 px-8 xl:px-0"
    >
      <div class="text-m-darkgray lg:gap-16 mb-14 grid grid-cols-2 gap-0">
        <div v-scroll-reveal.reveal class="">
          <h4 class="heading text-7xl md:text-8xl leading-big mt-16">
            latest <br />
            news.
          </h4>
        </div>
        <div
          v-scroll-reveal.reveal
          class="place-self-start col-span-2 md:col-span-1 md:place-self-end"
        >
          <nuxt-link to="/news/view-all" class="text-m-blue relative -top-2">
            View all <i class="fal fa-arrow-right ml-2"></i>
          </nuxt-link>
        </div>
      </div>
      <LazyHydrate when-visible>
        <LazyTheNews :limit="6" type-color="dark" />
      </LazyHydrate>
    </div>

    <!-- <div class="intro2-section bg-m-blue text-white relative">
      <TheBoomerang
        color="text-m-darkgray"
        class="absolute w-6/12 md:w-auto -top-8 right-0"
      />

      <div class="max-w-screen-lg mx-auto px-8 xl:px-0 py-48">
        <div class="flex flex-col md:flex-row items-start justify-start gap-16">
          <div
            v-scroll-reveal.reveal="{ origin: 'right' }"
            class="w-full panel flex heading leading-big text-8xl"
          >
            RISE TO THE CHALLENGE.
          </div>
        </div>
      </div>
    </div> -->

    <div class="bg-white py-32 px-8 xl:px-0">
      <div class="max-w-screen-lg mx-auto">
        <div class="text-m-darkgray lg:gap-16 mb-14 grid grid-cols-2 gap-2">
          <div v-scroll-reveal.reveal class="">
            <h4 class="heading text-7xl md:text-8xl leading-big mt-16">
              Awards &amp; <br />
              Achievements.
            </h4>
          </div>
          <div v-scroll-reveal.reveal class="place-self-end">
            <!-- <nuxt-link to="/" class="text-lg text-m-blue">
              View all <i class="fal fa-arrow-right ml-2"></i>
            </nuxt-link> -->
          </div>
        </div>
        <LazyHydrate when-visible>
          <TheAwards :limit="999" type-color="dark" />
        </LazyHydrate>
      </div>
    </div>

    <LazyHydrate when-visible>
      <TheCta />
    </LazyHydrate>
  </div>
</template>

<script>
import VueSlickCarousel from 'vue-slick-carousel'
import LazyHydrate from 'vue-lazy-hydration'

import { groq } from '@nuxtjs/sanity'

const dayjs = require('dayjs')
const advancedFormat = require('dayjs/plugin/advancedFormat')
dayjs.extend(advancedFormat)
const query = groq`
{
  "news": *[_type == "news" && defined(publishDate) && defined(featured) && featured == true]
  {
    body,
    mainImage,
    publishDate,
    seo,
    slug,
    title,
    excerpt,
  } | order(publishDate desc)
}
`

export default {
  components: {
    VueSlickCarousel,
    LazyHydrate,
  },
  filters: {
    dateFormatted(value) {
      return dayjs(value).format('Do MMM YYYY')
    },
  },
  transition: 'page',
  data() {
    return {
      news: [],
      settings: {
        autoplay: true,
        dots: true,
        arrows: false,
        dotsClass: 'slick-dots hero-dot-class',
        infinite: true,
        speed: 800,
        autoplaySpeed: 5000,
        slidesToShow: 1,
        slidesToScroll: 1,
        centerMode: true,
        adaptiveHeight: false,
        centerPadding: '0px',
        responsive: [
          {
            breakpoint: 640,
            settings: {
              centerPadding: '20px',
              adaptiveHeight: true,
            },
          },
        ],
      },
      container: 'max-w-6xl',
    }
  },

  async fetch() {
    this.$store.commit('setLoading', true)
    await this.$sanity
      .fetch(query)
      .then((result) => {
        const { news } = result
        this.news = news
        this.$store.commit('setLoading', false)
      })
      .catch((err) => {
        this.$store.commit('setLoading', false)
        this.$store.commit('setError', err)
      })
  },
  head() {
    return {
      title: `${(this.seo && this.seo.pageTitle) || this.$route.name} | ${
        this.$store.state.globalData.globalSettings.title
      }`,
      description: (this.seo && this.seo.metaDesc) || '',
      meta: this.$createSeoMeta({
        title: `${(this.seo && this.seo.shareTitle) || this.$route.name} | ${
          this.$store.state.globalData.globalSettings.title
        }`,
        description: (this.seo && this.seo.metaDesc) || '',
        image: this.$urlFor(this.seo && this.seo.shareGraphic.asset._ref).url(),
        url:
          // eslint-disable-next-line prettier/prettier
          this.$store.state.globalData.globalSettings.url +
          this.$route.fullPath,
      }),
    }
  },
  // mounted() {
  //   this.$fetch()
  // },
  activated() {
    if (this.$fetchState.timestamp <= Date.now() - 60000) {
      this.$fetch()
    }
  },
}
</script>

<style scoped>
body {
  position: relative;
}
</style>
